<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Errore 500 | Non solo pizza</title>
  <link rel="stylesheet" href="../../../style/style.css" media="screen">
</head>
<body id="homePage">


<header>
  <nav aria-label="Aiuti alla navigazione">
    <ul class="listHelp">
      <li><a href="#content" class="navigationHelp">Vai al contenuto</a></li>
      <li><a href="#menu" class="navigationHelp">Vai alla navigazione</a></li>
    </ul>
  </nav>
  <img src="../../../assets/logo/logo.png" alt="Logo Non solo pizza">

  <nav id="menu">
    <ul>
      <li id='currentLink' lang='en'><a href='../../../index.php'>Home</a></li>
      <li><a href='../../../chi-siamo.php'>Chi siamo</a></li>
    </ul>
  </nav>
</header>

<nav id="breadcrumb" aria-label="Breadcrumb">
  <p>Sei in: <span lang="en">Home</span></p>
</nav>

<main id="content">

  <section id="intro" class="error-section">
    <h3 id="error500">Errore 500</h3>
    <p class="error-message">Il nostro forno ha avuto un problema!</p>
    <p>I nostri pizzaioli stanno lavorando per risolverlo. Riprova tra poco e, se il problema persiste, contattaci.</p>
    <a href="index.php" class="home-button" id="btnErrorPage">Torna al menu principale</a>
  </section>
</main>

</body>
</html>

