<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ops | Non solo pizza</title>
  <link rel="stylesheet" href="style/style.css" media="screen">
</head>
<body id="homePage">
[header]

<nav id="breadcrumb">
  <p>Sei in: <a lang="en" href="index.php">Home</a> / Notifica errore</p>
</nav>

<main id="content">
  
  <section id="intro" class="error-section">
    <h3 id="erroreGenerico">Errore del sito</h3>
    <p class="error-message">Mamma mia! Il nostro forno ha avuto un problema!</p>
    <p>Questa volta non siamo riusciti a gestire la tua richiesta e ne siamo veramente dispiaciuti.</p>
    <p>Passa a trovarci e ci sdebiteremo!</p>
    <a href="index.php" class="home-button" id="btnErrorPage">Torna al menu principale</a>
  </section>
</main>


[footer]
</body>
</html>