<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <title>Oops - Non solo Pizza</title>
  <meta name="description" content="Errore generico">
  <meta name="keywords" content="Errore,pizza">
  <meta name="author" content="Ferraro Sara,Pozzobon Francesco,Santi Andrea,Vallotto Caterina">
  <link rel="stylesheet" href="style/style.css" media="screen">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body id="homePage">
[header]

<nav id="breadcrumb">
  <p>Sei in: <a lang="en" href="index.php">Home</a> / Notifica errore</p>
</nav>

<main id="content">
  
  <section id="intro" class="error-section">
    <p class="error-message">Mamma mia! Il nostro forno ha avuto un problema!</p>
    <p>Questa volta non siamo riusciti a gestire la tua richiesta e ne siamo veramente dispiaciuti.</p>
    <p>Passa a trovarci e ci sdebiteremo!</p>
    <a href="index.php" class="home-button">Torna al menu principale</a>
  </section>
</main>


[footer]
</body>
</html>