<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="utf-8">
  <title>Aggiungi pizza - Non solo Pizza</title>
  <meta name="description" content="Questa pagina aggiunge/modifica una pizza">
  <meta name="keywords" content="Pizza,pizza classica,pizza speciale,pizza fuori menu,pizza stagionale">
  <meta name="author" content="Ferraro Sara,Pozzobon Francesco,Santi Andrea,Vallotto Caterina">
  <link rel="stylesheet" href="style/style.css" media="screen">
  <link rel="stylesheet" href="style/mini.css" media="screen and (max-width: 768px)">
  <link rel="stylesheet" href="style/print.css" media="print">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="script/JS/checkFormJS.js"></script>
</head>

<body id="aggiungi-prodottoPage" data-form="pizze">
[header]
<nav id="breadcrumb" aria-label="Breadcrumb">
  [breadcrumb]
</nav>

<main id="content">
  <section id="aggiunta-page">
    <div id="general-intro">
      <h1>[titolo]</h1>
    </div>
    <div id="aggiunta-content">
      <form method="post" action=[percorsoFile] class="form-aggiunta" enctype="multipart/form-data" onsubmit="return validazioneForm();">
        [messaggiForm]
        <fieldset class="form-fieldset">
          <legend>Informazioni obbligatorie</legend>
          <label for="nome">Inserisci il nome:</label>
          <input type="text" name="nome" id="nome" [valueNome] required />
          <label for="prezzo">Inserisci il prezzo:</label>
          <input type="number" min="0" name="prezzo" id="prezzo" step="0.01" [valuePrezzo] required />
          <p>Inserisci gli ingredienti:</p>
          [listaIngredienti]
          <label for="cat">Categoria:</label>
          <select name="cat" id="cat" class="select">
            [categorie]
          </select>
        </fieldset>
        <fieldset class="form-fieldset">
          <legend>Informazioni aggiuntive</legend>
          <label for="descr">Descrizione:</label>
          <textarea id="descr" name="descr" rows="5" cols="50" >[valueDescr]</textarea>
          <label for="file">Carica un'immagine:</label>
          <input type="file" name="file" id="file" accept="image/*" />
        </fieldset>
          <input type="submit" id="submit" name="submit" class="invia-button" value="Inserisci pizza" />
          <input type="reset" id="reset" class="invia-button" value="Cancella tutto" />
      </form>
      <a class="home-button" href="dashboard.php" >Torna indietro</a>
    </div>
  </section>
</main>
[footer]
</body>
</html>