<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8">
    <title>Aggiungi Ingrediente-Non solo pizza</title>
    <meta name="description" content=""><!--TODO-->
    <meta name="keywords" content="">
    <meta name="author" content="Ferraro Sara,Pozzobon Francesco,Santi Andrea,Vallotto Caterina">
    <link rel="stylesheet" href="../../style/style.css" media="screen">
    <script src="https://kit.fontawesome.com/fef5fd157c.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../script/JS/checkFormJS.js"></script>
</head>
[header]
<body id="aggiungi-prodottoPage" onload="caricamento();">
<nav id="breadcrumb">
    [breadcrumb]
</nav>

<main id="content" class="aggiunta-page">
    <section class="general-intro">
        <h1>[titolo]</h1>
    </section>
    <section class="aggiunta-content">
        <form method="post" action=[percorsoFile] class="form-aggiunta" onsubmit="return validazioneForm();">
            <div>
                <label for="nome">Inserisci il nome: (obbligatorio)</label>
                <input type="text" name="nome" id="nome" [valueNome] required>
            </div>
            <p>L'ingrediente contiene carne o pesce? (obbligatorio)</p>
            <div class="check">
                <input type="radio" id="veget_si" name="veget" value="1" [valueSi]>
                <label for="veget_si">Si</label>
            </div>
            <div class="check">
                <input type="radio" id="veget_no" name="veget" value="0" [valueNo]>
                <label for="veget_no">No</label>
            </div>
            [messaggiForm]
            <input type="submit" id="submit" name="submit" class="invia-button" value="Inserisci ingrediente" >
            <input type="reset" id="reset" class="invia-button" value="Cancella tutto" >
        </form>
        <a class="home-button" href="../../gestisci-prodotti.php">Torna indietro</a>
    </section>
</main>

[footer]
</body>
</html>