<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="utf-8">
  <title>Aggiungi Pizza-Non solo pizza</title>
  <meta name="description" content=""><!--TODO-->
  <meta name="keywords" content="">
  <meta name="author" content="Ferraro Sara,Pozzobon Francesco,Santi Andrea,Vallotto Caterina">
  <link rel="stylesheet" href="../../style/style.css" media="screen">
  <script src="https://kit.fontawesome.com/fef5fd157c.js" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../../script/JS/checkFormJS.js"></script>
</head>
<body id="aggiungi-prodottoPage" onload="caricamento();" data-form="pizze">
<nav id="breadcrumb">
  <p>Sei in: <a lang="en" href="../../index.php">Home</a> / Aggiungi Pizza</p>
</nav>

[header]

<main id="content" class="aggiunta-page">
  <section class="general-intro">
    <h1>INSERISCI UNA NUOVA PIZZA</h1>
  </section>
  <section class="aggiunta-content">
    <form method="post" action=[percorsoFile] class="form-aggiunta" enctype="multipart/form-data" onsubmit="return validazioneForm();">
      <div>
        <label for="nome">Inserisci il nome: </label>
        <input type="text" name="nome" id="nome" [valueNome] required>
      </div>
      <div>
        <label for="prezzo">Inserisci il prezzo: </label>
        <input type="number" min="0" name="prezzo" id="prezzo" [valuePrezzo] required>
      </div>
      <p>Inserisci gli ingredienti: </p>
        [listaIngredienti]
      <div>
        <label for="cat">Categoria: </label>
        <select name="cat" id="cat" class="select">
          [categorie]
        </select>
      </div>
      <div>
        <label for="descr">Descrizione:</label>
        <textarea id="descr" name="descr" rows="5" cols="50" >[valueDescr]</textarea>
      </div>
      <div>
        <label for="file">Carica un'immagine:</label>
        <input type="file" name="file" id="file" accept="image/*">
      </div>
      [messaggiForm]
      <input type="submit" id="submit" name="submit" class="invia-button" value="Inserisci pizza" >
      <input type="reset" id="reset" class="invia-button" value="Cancella tutto" >
    </form>
    <a class="home-button" href="../../aggiungi-prodotto.php" >Torna indietro</a>
  </section>
</main>

[footer]
</body>
</html>