<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8">
    <title>Aggiungi ingrediente - Non solo Pizza</title>
    <meta name="description" content="Questa pagina aggiunge/modifica un ingrediente">
    <meta name="keywords" content="Ingrediente,modifica">
    <meta name="author" content="Ferraro Sara,Pozzobon Francesco,Santi Andrea,Vallotto Caterina">
    <link rel="stylesheet" href="style/style.css" media="screen">
    <link rel="stylesheet" href="style/mini.css" media="screen and (max-width: 768px)">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="script/JS/checkFormJS.js"></script>
</head>

<body id="aggiungi-prodottoPage">
[header]
<nav id="breadcrumb" aria-label="Breadcrumb">
    [breadcrumb]
</nav>

<main id="content">
    <section id="aggiunta-page">
        <div id="general-intro">
            <h1>[titolo]</h1>
        </div>
        <div id="aggiunta-content">
            <form method="post" action=[percorsoFile] class="form-aggiunta" onsubmit="return validazioneForm();">
                [messaggiForm]
                <fieldset class="form-fieldset">
                    <legend>Informazioni obbligatorie</legend>
                    <label for="nome">Inserisci il nome: (obbligatorio)</label>
                    <input type="text" name="nome" id="nome" [valueNome] required />
                    <div class="check">
                        <p>L'ingrediente contiene carne o pesce? (obbligatorio)</p>
                        <input type="radio" id="veget_si" name="veget" value="1" [valueSi] />
                        <label for="veget_si">Si</label>
                    </div>
                    <div class="check">
                        <input type="radio" id="veget_no" name="veget" value="0" [valueNo] />
                        <label for="veget_no">No</label>
                    </div>
                </fieldset>
                <input type="submit" id="submit" name="submit" class="invia-button" value="Inserisci ingrediente" />
                <input type="reset" id="reset" class="invia-button" value="Cancella tutto" />
            </form>
            <a class="home-button" href="dashboard.php">Torna indietro</a>
        </div>
    </section>
</main>

[footer]
</body>
</html>