<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8">
    <title>Aggiungi Piatto-Non solo pizza</title>
    <meta name="description" content=""><!--TODO-->
    <meta name="keywords" content="">
    <meta name="author" content="Ferraro Sara,Pozzobon Francesco,Santi Andrea,Vallotto Caterina">
    <link rel="stylesheet" href="style/style.css" media="screen">
    <link rel="stylesheet" href="style/mini.css" media="screen and (max-width: 768px)">
    <script src="https://kit.fontawesome.com/fef5fd157c.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="script/JS/checkFormJS.js"></script>
</head>

<body id="aggiungi-prodottoPage" onload="caricamento();" data-form="cucina">
[header]
<nav id="breadcrumb" aria-label="Breadcrumb">
    [breadcrumb]
</nav>
<main id="content">
    <section id="aggiunta-page">
        <div id="general-intro">
            <h1>[titolo]</h1>
        </div>
        <fieldset id="aggiunta-content">
            <form method="post" action=[percorsoFile] class="form-aggiunta" enctype="multipart/form-data" onsubmit="return validazioneForm();">
                <fieldset class="form-fieldset">
                    <legend>Informazioni obbligatorie</legend>
                    <label for="nome">Inserisci il nome:</label>
                    <input type="text" name="nome" id="nome" [valueNome] required>
                    <label for="prezzo">Inserisci il prezzo:</label>
                    <input type="number" min="0" name="prezzo" id="prezzo" step="0.01" [valuePrezzo] required>
                    <p>Inserisci gli ingredienti:</p>
                    [listaIngredienti]
                </fieldset>
                <fieldset class="form-fieldset">
                    <legend>Informazioni aggiuntive</legend>
                    <label for="file">Carica un'immagine:</label>
                    <input type="file" name="file" id="file" accept="image/*">
                </fieldset>
                [messaggiForm]
                <div>
                    <input type="submit" id="submit" name="submit" class="invia-button" value="Inserisci piatto" >
                    <input type="reset" id="reset" class="invia-button" value="Cancella tutto" >
                </div>
            </form>
            <a class="home-button" href="dashboard.php">Torna indietro</a>
        </div>
    </section>
</main>

[footer]
</body>
</html>