<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8">
    <title>Aggiungi Prodotto-Non solo pizza</title>
    <meta name="description" content=""><!--TODO-->
    <meta name="keywords" content="">
    <meta name="author" content="Ferraro Sara,Pozzobon Francesco,Santi Andrea,Vallotto Caterina">
    <link rel="stylesheet" href="../../style/style.css" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body id="aggiungi-prodottoPage">
<nav id="breadcrumb">
    <p>Sei in: <a lang="en" href="../../index.php">Home</a></p>
</nav>

[header]

<!--<main>-->
<!--  <div id="area-riservata-intro">-->
<!--    <h1>Area Riservata</h1>-->
<!--  </div>-->

<!--  <div id="area-riservata-login">-->
<!--    <h2>ACCEDI</h2>-->
<!--    <form action=“" method=“post" >-->
<!--      <fieldset>-->
<!--        <label for="user">User</label>-->
<!--        <input type="text" id="user" name="user" placeholder="User" required>-->
<!--        <label for="psw" lang="en">Password</label>-->
<!--        <input type="password" id="psw" name="psw" placeholder="Password" required>-->
<!--        <input type="submit" value="Accedi">-->
<!--      </fieldset>-->
<!--    </form>-->
<!--  </div>-->
<!--</main>-->

<!--
<div id="form-aggiunta">
    <h1>Aggiungi un prodotto</h1>
    <form action="PAGINA DI DESTINAZIONE DEI DATI">
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname" value="John"><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname" value="Doe"><br><br>
        <input type="submit" value="Submit">
    </form>
</div>
-->
<main>
    <section id="AP-main">
        <h1>Aggiungi un prodotto</h1>
        <div id="link-container">
            <a href="../../aggiungi-ingrediente.php" class="home-button">Aggiungi un ingrediente <img src="../../../assets/icons/freccia-destra.png" alt="TODO"></a>
            <a href="" class="home-button">Aggiungi una pizza <img src="../../../assets/icons/freccia-destra.png" alt="TODO"></a>
            <a href="" class="home-button">Aggiungi un piatto di cucina <img src="../../../assets/icons/freccia-destra.png" alt="TODO"></a>
        </div>
    </section>
</main>

[footer]
</body>
</html>