<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="utf-8">
  <title>Area Riservata-Non solo pizza</title>
  <meta name="description" content=""><!--TODO-->
  <meta name="keywords" content="">
  <meta name="author" content="Ferraro Sara,Pozzobon Francesco,Santi Andrea,Vallotto Caterina">
  <link rel="stylesheet" href="../../style/style.css" media="screen">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../../script.js"></script>

</head>
<body id="chi-siamoPage">
<nav id="breadcrumb">
  <p>Sei in: <a lang="en" href="../../index.php">Home</a> / Area Riservata</p>
</nav>

[header]

<!--<main>-->
<!--  <div id="area-riservata-intro">-->
<!--    <h1>Area Riservata</h1>-->
<!--  </div>-->

<!--  <div id="area-riservata-login">-->
<!--    <h2>ACCEDI</h2>-->
<!--    <form action=“" method=“post" >-->
<!--      <fieldset>-->
<!--        <label for="user">User</label>-->
<!--        <input type="text" id="user" name="user" placeholder="User" required>-->
<!--        <label for="psw" lang="en">Password</label>-->
<!--        <input type="password" id="psw" name="psw" placeholder="Password" required>-->
<!--        <input type="submit" value="Accedi">-->
<!--      </fieldset>-->
<!--    </form>-->
<!--  </div>-->
<!--</main>-->


<div class="container">
  <div class="form-box">
    <!-- Form Login -->
    <form id="loginForm" action="login.php" method="POST" class="active">
      <h2>Accedi</h2>
      <div class="input-group">
        <div class="input-field">
          <label for="login-user">Username</label>
          <input type="text" id="login-user" name="login-user" required>
        </div>
        <div class="input-field">
          <label for="login-password" lang="en">Password</label>
          <input type="password" id="login-password" name="login-password" required>
        </div>
      </div>
      <div class="btn-field">
        <button type="submit">Accedi</button>
      </div>
      <p class="switch-text">Non hai un account? <a href="#" id="showRegister">Registrati</a></p>
    </form>

    <!-- Form Registrazione -->
    <form id="registerForm" action="register.php" method="POST">
      <h2>Registrati</h2>
      <div class="input-group">
        <div class="input-field">
          <label for="register-name">Nome</label>
          <input type="text" id="register-name" name="register-name" required>
        </div>
        <div class="input-field">
          <label for="register-surname">Cognome</label>
          <input type="text" id="register-surname" name="register-surname" required>
        </div>
        <div class="input-field">
          <label for="register-email" lang="en">Email</label>
          <input type="email" id="register-email" name="register-email" required>
        </div>
        <div class="input-field">
          <label for="register-password" lang="en">Password</label>
          <input type="password" id="register-password" name="register-password" required>
        </div>
        <div class="input-field">
          <label for="register-confirm-password">Conferma <span lang="en">Password</span></label>
          <input type="password" id="register-confirm-password" name="register-confirm_password" required>
        </div>
      </div>
      <div class="btn-field">
        <button type="submit">Registrati</button>
      </div>
      <p class="switch-text">Hai già un account? <a href="#" id="showLogin">Accedi</a></p>
    </form>
  </div>
</div>

[footer]
</body>
</html>