<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="utf-8">
  <title>Area Riservata-Non solo pizza</title>
  <meta name="description" content=""><!--TODO-->
  <meta name="keywords" content="">
  <meta name="author" content="Ferraro Sara,Pozzobon Francesco,Santi Andrea,Vallotto Caterina">
  <link rel="stylesheet" href="../../style/style.css" media="screen">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body id="chi-siamoPage">
<nav id="breadcrumb">
  <p>Sei in: <a lang="en" href="../../index.php">Home</a> / Area Riservata</p>
</nav>

[header]

<main>
  <div id="area-riservata-intro">
    <h1>Area Riservata</h1>
  </div>

  <div id="area-riservata-login">
    <h2>ACCEDI</h2>
    <form action=“" method=“post" >
      <fieldset>
        <label for="user">User</label>
        <input type="text" id="user" name="user" placeholder="User" required>
        <label for="psw">Password</label>
        <input type="password" id="psw" name="psw" placeholder="Password" required>
        <input type="submit" value="Accedi">
      </fieldset>
    </form>
  </div>
</main>
[footer]
</body>
</html>