<!DOCTYPE html>
<html lang="it">
<head>
	<meta charset="utf-8">
	<title>Carrello - Non solo Pizza</title>
	<meta name="description" content="Questa pagina è dedicata al carrello con i prodotti selezionati. Ordina e lasciati deliziare dai nostri prodotti!">
	<meta name="keywords" content="Carrello,pizza,cucina,ordine,conferma ordine">
	<meta name="author" content="Ferraro Sara,Pozzobon Francesco,Santi Andrea,Vallotto Caterina">
	<link rel="stylesheet" href="style/style.css" media="screen">
	<link rel="stylesheet" href="style/mini.css" media="screen and (max-width: 768px)">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body id="carrelloPage">
[header]
<nav id="breadcrumb" aria-label="Breadcrumb">
	<p>Sei in: <a lang="en" href="index.php">Home</a> / Carrello</p>
</nav>
<main id="content">
	<section id="general-intro">
		<h1>RIEPILOGO CARRELLO</h1>
		<h2>Controlla il tuo carrello e procedi all'ordine!</h2>
	</section>

	<section class="order-container">
		<div class="order-summary">
			<h3>Il tuo ordine</h3>
			<div>
				[rowsCarrello]
			</div>
			<p id="prezzoTot">Totale: &euro; [tot]</p>
		</div>
		<div class="order-form">
			<h3>Informazioni necessarie</h3>
				<div>
					<p>Nome e Cognome: [nomeCognome]</p>
				</div>
			<form method="post" action="carrello.php">
				<div>
					<p id="primadisp">La prima disponibilità è nella fascia oraria [fasciaOraria]</p>
					<label for="ora">Seleziona ora di ritiro:</label>
					<select name="ora" id="ora" class="select" required>
					[optionOrario]
					</select>
				</div>
				<div>
					<label for="nota">Note:</label>
					<textarea name="note" id="nota"></textarea>
				</div>
				<input type="submit" class="invia-button" value="Conferma ordine" />
				[messaggio_errore]
			</form>
		</div>
	</section>
	<section id="proposta-mese" class="home-section">
		<p>Hai già provato le nostre pizze del mese?</p>
		<div id="FM-content">
			<ul id="lista-FM">
				[pizzeMese]
			</ul>
		</div>
	</section>
</main>
[footer]
</body>
</html>