<!DOCTYPE html>
<html lang="it">
<head>
	<meta charset="utf-8">
	<title>Chi siamo - Non solo Pizza</title>
	<meta name="description" content="Questa è la pagina Chi siamo di Non Solo Pizza.Vieni a scoprire la nostra storia,filosofia e i nostri prodotti di qualità">
	<meta name="keywords" content="Chi siamo,Non solo Pizza,storia,filosofia,qualità">
	<meta name="author" content="Ferraro Sara,Pozzobon Francesco,Santi Andrea,Vallotto Caterina">
	<link rel="stylesheet" href="style/style.css" media="screen">
	<link rel="stylesheet" href="style/mini.css" media="screen and (max-width: 768px)">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body id="chi-siamoPage">
[header]
<nav id="breadcrumb" aria-label="Breadcrumb">
	<p>Sei in: <a lang="en" href="index.php">Home</a> / Chi siamo</p>
</nav>

<main id="content">
	<section>
		<div id="chi-siamo-intro">
			<div class="title-container">
				<h1>Chi siamo</h1>
			</div>
		</div>
		<div id="chi-siamo-contenitore">
			<div  class="chi-siamo-items">
				<div class="chi-siamo-titoli">
					<img alt="icona storia" src="assets/pagine/chi-siamo/storia.png" >
					<h2>Storia</h2>
				</div>
				<p><strong>Non Solo Pizza</strong>: la passione di Simone, Alessio e Marisa per la tradizione, servita con amore nel tuo quartiere.</p>
			</div>
			<div  class="chi-siamo-items">
				<div class="chi-siamo-titoli">
					<img alt="icona storia" src="assets/pagine/chi-siamo/filosofia.png" >
					<h2>Filosofia</h2>
				</div>
				<p>Dove passione, famiglia e tradizione si uniscono per offrirti un’esperienza autentica e irresistibile.</p>
			</div>
			<div  class="chi-siamo-items">
				<div class="chi-siamo-titoli">
					<img alt="icona storia" src="assets/pagine/chi-siamo/qualita.png" >
					<h2>Qualità</h2>
				</div>
				<p>I nostri chef scelgono esclusivamente prodotti di alta <em>qualità</em>.</p>
			</div>
		</div>
	</section>
	<section class="chi-siamo-boxes" id="chi-siamo-storia">
		<div class="chi-siamo-testo">
			<h3>STORIA</h3>
			<p>Benvenuti a <strong>Non Solo Pizza</strong></p>
			<p>Nata dalla passione di Simone e Alessio, <strong>Non Solo Pizza</strong> è più di una pizzeria: è il risultato di un sogno condiviso e di un amore per la cucina autentica. Da oltre due anni e mezzo, portiamo nel quartiere pizze dal gusto unico, preparate con ingredienti freschi, farine selezionate e una lunga lievitazione per garantire leggerezza e digeribilità. Al fianco dei fratelli c’è Marisa, la loro madre, custode dei segreti di famiglia e creatrice di sughi e ricette che aggiungono un tocco speciale al nostro menù.</p>
		</div>
		<img src="assets/pagine/chi-siamo/chi-siamo-storia.jpg" alt="Pizzaiolo">
		<div class="torna-su">
			<a href="#chi-siamo-intro"><img src="assets/icons/torna-su.png" alt="Torna su"></a>
		</div>
	</section>
	<section class="chi-siamo-boxes" id="chi-siamo-filosofia">
		<img src="assets/pagine/chi-siamo/chi-siamo-filosofia.jpg" alt="Forno a legna">
		<div class="chi-siamo-testo">
			<h3>FILOSOFIA</h3>
			<p>La nostra <em>filosofia</em> è semplice: passione, tradizione e rispetto per il cibo. Crediamo nell'importanza di un approccio autentico, dove ogni ingrediente racconta una <em>storia</em> e ogni pizza diventa un momento di condivisione. Ci impegniamo a valorizzare il territorio con materie prime locali, a rispettare i tempi naturali della lavorazione e a creare un equilibrio perfetto tra gusto e leggerezza.</p>
		</div>
		<div class="torna-su">
			<a href="#chi-siamo-intro"><img src="assets/icons/torna-su.png" alt="Torna su"></a>
		</div>
	</section>
	<section class="chi-siamo-boxes" id="chi-siamo-qualita">
		<div class="chi-siamo-testo">
			<h3>QUALITÀ</h3>
			<p>Da <strong>Non Solo Pizza</strong>, la <em>qualità</em> è il nostro ingrediente principale. Ogni giorno selezioniamo con cura i migliori prodotti per garantire ai nostri clienti un’esperienza autentica e irresistibile. Utilizziamo solo farine di alta qualità per un impasto leggero e fragrante, lavorato con passione e rispettando i tempi di lievitazione naturale. Il nostro pomodoro, maturato al sole, e la mozzarella fresca sono scelti per esaltare i sapori tradizionali. Le verdure sono sempre fresche e di stagione per assicurare sempre il massimo grado di <em>qualità</em>.</p>
		</div>
		<img src="assets/pagine/chi-siamo/chi-siamo-qualita.jpg" alt="Qualità ingredienti" loading="lazy">
		<div class="torna-su">
			<a href="#chi-siamo-intro"><img src="assets/icons/torna-su.png" alt="Torna su"></a>
		</div>
	</section>
</main>
[footer]
</body>
</html>