<!DOCTYPE html>
<html lang="it">
<head>
	<meta charset="utf-8">
	<title>Chi siamo-Non solo pizza</title>
	<meta name="description" content=""><!--TODO-->
	<meta name="keywords" content="">
	<meta name="author" content="Ferraro Sara,Pozzobon Francesco,Santi Andrea,Vallotto Caterina">
	<link rel="stylesheet" href="../../style/style.css" media="screen">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body id="chi-siamoPage">

[header]

<nav id="breadcrumb">
	<p>Sei in: <a lang="en" href="../../index.php">Home</a> / Chi siamo</p>
</nav>

<main>
	<section id="chi-siamo-intro">
		<h1>Chi siamo</h1>
	</section>

	<div id="chi-siamo-contenitore">
		<section  class="chi-siamo-items">
			<div class="chi-siamo-titoli">
				<img alt="icona storia" src="../../../assets/pagine/chi-siamo/storia.png" >
				<h2><a href=#chi-siamo-storia>Storia</a></h2>
			</div>
			<p>Non Solo Pizza: la passione di Simone, Alessio e Marisa per la tradizione, servita con amore nel tuo quartiere.</p>
		</section>
		<section  class="chi-siamo-items">
			<div class="chi-siamo-titoli">
				<img alt="icona storia" src="../../../assets/pagine/chi-siamo/filosofia.png" >
				<h2><a href=#chi-siamo-filosofia>Filosofia</a></h2>
			</div>
			<p>Dove passione, famiglia e tradizione si uniscono per offrirti un’esperienza autentica e irresistibile.</p>
		</section>
		<section  class="chi-siamo-items">
			<div class="chi-siamo-titoli">
				<img alt="icona storia" src="../../../assets/pagine/chi-siamo/qualita.png" >
				<h2><a href=#chi-siamo-qualita>Qualità</a></h2>
			</div>
			<p>I nostri chef scelgono esclusivamente prodotti di alta qualità.</p>
		</section>
	</div>

	<section class="chi-siamo-boxes" id="chi-siamo-storia">
		<div class="chi-siamo-testo">
			<h3>STORIA</h3>
			<p>Benvenuti a Non Solo Pizza</p>
			<p>Nata dalla passione di Simone e Alessio, "Non Solo Pizza" è più di una pizzeria: è il risultato di un sogno condiviso e di un amore per la cucina autentica. Da oltre due anni e mezzo, portiamo nel quartiere pizze dal gusto unico, preparate con ingredienti freschi, farine selezionate e una lunga lievitazione per garantire leggerezza e digeribilità. Al fianco dei fratelli c’è Marisa, la loro madre, custode dei segreti di famiglia e creatrice di sughi e ricette che aggiungono un tocco speciale al nostro menù.</p>
		</div>
		<img src="../../../assets/pagine/chi-siamo/chi-siamo-storia.jpg" alt="Pizzaiolo">
	</section>

	<section class="chi-siamo-boxes" id="chi-siamo-filosofia">
		<img src="../../../assets/pagine/chi-siamo/chi-siamo-filosofia.jpg" alt="Forno a legna">
		<div class="chi-siamo-testo">
			<h3>FILOSOFIA</h3>
			<p>La nostra filosofia è semplice: passione, tradizione e rispetto per il cibo. Crediamo nell'importanza di un approccio autentico, dove ogni ingrediente racconta una storia e ogni pizza diventa un momento di condivisione. Ci impegniamo a valorizzare il territorio con materie prime locali, a rispettare i tempi naturali della lavorazione e a creare un equilibrio perfetto tra gusto e leggerezza.</p>
		</div>
	</section>
	<section class="chi-siamo-boxes" id="chi-siamo-qualita">
		<div class="chi-siamo-testo">
			<h3>QUALITÀ</h3>
			<p>Da Non Solo Pizza, la qualità è il nostro ingrediente principale. Ogni giorno selezioniamo con cura i migliori prodotti per garantire ai nostri clienti un’esperienza autentica e irresistibile. Utilizziamo solo farine di alta qualità per un impasto leggero e fragrante, lavorato con passione e rispettando i tempi di lievitazione naturale. Il nostro pomodoro, maturato al sole, e la mozzarella fresca sono scelti per esaltare i sapori tradizionali. Le verdure sono sempre fresche e di stagione per assicurare sempre il massimo grado di qualità.</p>
		</div>
		<img src="../../../assets/pagine/chi-siamo/chi-siamo-qualita.jpg" alt="Qualità ingredienti">
	</section>
</main>
[footer]
</body>
</html>