<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Riepilogo Ordini - Non solo Pizza</title>
    <meta name="description" content=""><!--TODO-->
    <meta name="keywords" content="">
    <meta name="author" content="Santi Andrea,Pozzobon Francesco,Ferraro Sara,Vallotto Caterina">
    <link rel="stylesheet" href="../../style/style.css" media="screen">
    <script src="https://kit.fontawesome.com/fef5fd157c.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<nav id="breadcrumb">
    <p>Sei in: <a lang="en" href="../../index.php">Home</a> / <a href="../../menu-prenota.php">Menù-Prenota</a> /
        <a href="../../carrello.php">Carrello</a> / Riepilogo Ordine</p>
</nav>
[header]
<main>
    <section id="confOrdine">
        <h1>Riepilogo ordine</h1>
        <div id="containerConferma">
            <div class="boxConferma">
                <p id="nomecognUtente"> [nameClient] [surnameClient] </p>
                <p id="totOrdine"class="infoConferma">Il totale dell'ordine è €xyz.</p>
                <p class="infoConferma">Il pagamento verrà effettuato in contanti.</p>
                <p class="infoConferma">NonSoloPizza si impegna a soddisfare tutte le richieste della propria clientela!</p>
                <p class="infoConferma">Se hai qualche richiesta, lasciaci un appunto nel seguente form!</p>
                <div id="boxForm">
                    <form class="form-container">
                        <label for="formNota" class="form-label">Hai qualche nota/istruzione da lasciarci?</label>
                        <textarea id="formNota" name="formNota" class="form-input" placeholder="Scrivi qui la tua nota"></textarea>
                    </form>
                </div>
            </div>
            <div id="boxOrario">
                <div>
                    <p>Seleziona un orario di consegna tra quelli disponibili!</p>
                    <p>Ci impegneremo a realizzare l'ordine puntualmente.</p>
                    <p>Il pagamento verrà effettuato in contanti.</p>
                    <button>Ordina</button>
                </div>
                <select name="menuOra" class="select"> <!--id="menuOra"-->
                    [oraridisp]
                </select> <!--chiedere a cate se va bene mod che ho fatto su css .select-->
            </div>
        </div>
    </section>
</main>
[footer]
</body>