<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8">
    <title>Dettagli ordini - Non solo Pizza</title>
    <meta name="description" content="Questa pagina contiene il dettaglio di un ordine, elencando il prodotti ordinati e il prezzo totale">
    <meta name="keywords" content="Ordine,totale,pizza,piatto,cucina,quantita">
    <meta name="author" content="Santi Andrea,Pozzobon Francesco,Ferraro Sara,Vallotto Caterina">
    <link rel="stylesheet" href="style/style.css" media="screen">
    <link rel="stylesheet" href="style/mini.css" media="screen and (max-width: 768px)">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
[header]
<nav id="breadcrumb" aria-label="Breadcrumb">
    [breadcrumb]
</nav>
<main id="content">
    <div id="DO">
        <section id="DO-intro">
            <h1>Dettagli ordine numero [numOrdine]</h1>
            [linkIndietro]
        </section>
        <section id="tabella-ordini">
            <span id="descrTabella">In questa tabella vengono riassunti i dettagli dell'ordine selezionato organizzati per colonne: Nome del prodotto, Quantità acquistata, Prezzo. Nulle'ultima riga è presente il prezzo totale dell'ordine.</span>
            <table aria-describedby="descrTabella">
                <caption>Dettagli ordine</caption>
                <thead>
                <tr>
                    <th scope="col">Prodotto</th>
                    <th scope="col">Quantità</th>
                    <th scope="col">Prezzo</th>
                </tr>
                </thead>
                <tbody>
                [dettaglioOrdine]
                </tbody>
                <tfoot>
                <tr>
                    <th scope="row" colspan="2">Totale Prezzo</th>
                    <td data-title="Totale Prezzo">[totOrdine] &euro;</td>
                </tr>
                </tfoot>
            </table>
        </section>
    </div>
</main>
[footer]
</body>
</html>