<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8">
    <title>Dettagli Ordini - Non solo Pizza</title>
    <meta name="description" content=""><!--TODO-->
    <meta name="keywords" content="">
    <meta name="author" content="Santi Andrea,Pozzobon Francesco,Ferraro Sara,Vallotto Caterina">
    <link rel="stylesheet" href="../../style/style.css" media="screen">
    <script src="https://kit.fontawesome.com/fef5fd157c.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
[header]
<nav id="breadcrumb">
    [breadcrumb]
</nav>
<main id="content">
    <div id="DO">
        <section id="DO-intro">
            <h1>Dettagli ordine numero [numOrdine]</h1>
            [linkIndietro]
        </section>
        <section class="tabella-ordini" id="DO-tabella">
            <!-- COPIATA DA QUELLA DELLA PROF, DOVREBBE GIA' ESSERE ACCESSIBILE -->
            <!-- descrTabella dobbiamo lasciarlo scritto? che schifo -->
            <span id="descrTabella">In questa tabella vengono riassunti i dettagli dell'ordine selezionato organizzati per colonne: Nome del prodotto, Quantità acquistata, Prezzo. Nulle'ultima riga è presente il prezzo totale dell'ordine.</span>
            <table aria-describedby="descrTabella">
                <caption>Dettagli ordine</caption>
                <thead> <!-- ci andrebbero anche le abbreviazioni ma solo dove hanno senso, in questo caso potrei farlo solo con Paola Egonu togliendo il secondo nome -->
                <tr>
                    <th scope="col">Prodotto</th>
                    <th scope="col">Quantità</th>
                    <th scope="col">Prezzo</th>
                </tr>
                </thead>
                <tbody>
                [dettaglioOrdine]
                </tbody>
                <tfoot>
                <tr>
                    <th scope="row" colspan="2">Totale Prezzo</th>
                    <td data-title="Totale Prezzo">[totOrdine] &euro;</td>
                </tr>
                </tfoot>
            </table>
        </section>
    </div>
</main>
[footer]
</body>
</html>