<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8">
    <title>Gestisci Utenti - Non solo Pizza</title>
    <meta name="description" content="Questa pagina contiene la lista di tutti gli utenti registrati">
    <meta name="keywords" content="Utente,amministratore,cliente">
    <meta name="author" content="Santi Andrea,Pozzobon Francesco,Ferraro Sara,Vallotto Caterina">
    <link rel="stylesheet" href="style/style.css" media="screen">
    <link rel="stylesheet" href="style/mini.css" media="screen and (max-width: 768px)">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
[header]
<nav id="breadcrumb" aria-label="Breadcrumb">
    <p>Sei in: <a lang="en" href="index.php">Home</a> / <a lang="en" href="dashboard.php">Dashboard</a> / Gestisci utenti</p>
</nav>
<main id="content">
    <!-- anche qui 3 sezioni -->
    <section id="general-intro">
        <h1>GESTISCI UTENTI</h1>
    </section>
    <section id="filtri">
        <form method="post" action="gestisci-utenti.php">
            <input type="hidden" name="action" value="filter" />
            <label for="ruolo">Filtra per ruolo:</label>
            <select name="ruolo" id="ruolo" class="select">
                <option value="">Tutti</option>
                <option value="0">Clienti</option>
                <option value="1">Amministratori</option>
            </select>

            <label for="nome">Filtra per nome utente:</label>
            <input type="text" name="nome_utente" id="nome" />

            <label for="username">Filtra per username utente:</label>
            <input type="text" name="username_utente" id="username" />
            <input type="submit" class="invia-button" value="Filtra" />
        </form>
    </section>
    <section id="tabella-ordini">
        [operazione-successo]
        <span id="descrTabella">In questa tabella vengono riassunti tutti gli utenti registrati organizzati per colonne: Numero e Cognome, Username, Email, Ruolo, Modifica ruolo ed Elimina utente.</span>
        <table aria-describedby="descrTabella">
            <caption>Utenti</caption>
            <thead>
            <tr>
                <th scope="col">Nome e Cognome</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Ruolo</th>
                <th scope="col">Modifica ruolo</th>
                <th scope="col">Elimina utente</th>
            </tr>
            </thead>
            <tbody>
                [listaUtenti]
            </tbody>
        </table>
    </section>
</main>
[footer]
</body>
</html>