<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8">
    <title>Gestisci Utenti - Non solo Pizza</title>
    <meta name="description" content=""><!--TODO-->
    <meta name="keywords" content="">
    <meta name="author" content="Santi Andrea,Pozzobon Francesco,Ferraro Sara,Vallotto Caterina">
    <link rel="stylesheet" href="../../style/style.css" media="screen">
    <script src="https://kit.fontawesome.com/fef5fd157c.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
[header]
<nav id="breadcrumb">
    <p>Sei in: <a lang="en" href="../../index.php">Home</a> / Gestisci Utenti </p>
</nav>
<main>
    <section class="general-intro">
        <h1>GESTISCI UTENTI</h1>
    </section>
    <section class="filtri">
        <form method="post" action="../../gestisci-utenti.php">
            <input type="hidden" name="action" value="filter" />
            <label for="ruolo">Ruolo:</label>
            <select name="ruolo" id="ruolo" class="select">
                <option value="">Tutti</option>
                <option value="0">Clienti</option>
                <option value="1">Amministratori</option>
            </select>

            <label for="nome">Nome utente:</label>
            <input type="text" name="nome_utente" id="nome" />

            <label for="username">Username utente:</label>
            <input type="text" name="username_utente" id="username" />
            <button type="submit" class="invia-button">Filtra</button>
        </form>
    </section>
    <section class="tabella-ordini">
        [operazione-successo]
        <span id="descrTabella">In questa tabella vengono riassunti tutti gli utenti registrati organizzati per colonne: Numero e Cognome, Username, Email, Ruolo, Modifica ruolo ed Elimina utente.</span>
        <table aria-describedby="descrTabella">
            <caption>Utenti</caption>
            <thead> <!-- ci andrebbero anche le abbreviazioni ma solo dove hanno senso, in questo caso potrei farlo solo con Paola Egonu togliendo il secondo nome -->
            <tr>
                <th scope="col">Nome e Cognome</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Ruolo</th>
                <th scope="col">Modifica ruolo</th>
                <th scope="col">Elimina utente</th>
            </tr>
            </thead>
            <tbody>
                [listaUtenti]
            </tbody>
        </table>
    </section>
</main>
[footer]
</body>
</html>