<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Gestisci Utenti - Non solo Pizza</title>
    <meta name="description" content=""><!--TODO-->
    <meta name="keywords" content="">
    <meta name="author" content="Santi Andrea,Pozzobon Francesco,Ferraro Sara,Vallotto Caterina">
    <link rel="stylesheet" href="../../style/style.css" media="screen">
    <script src="https://kit.fontawesome.com/fef5fd157c.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
[header]
<nav id="breadcrumb">
    <p>Sei in: <span lang="en">Home</span></p>
</nav>
<main id="GU">
    <section class="general-intro">
        <h1>GESTISCI UTENTI</h1>
        [operazione-successo]
    </section>
    <section class="filtri">
        <form method="post" action="../../gestisci-utenti.php">
            <label for="ruolo">Ruolo:</label>
            <select name="ruolo" id="ruolo" class="select">
                <option value="0">Cliente</option>
                <option value="1">Amministratore</option>
            </select>

            <label for="nome">Nome utente:</label>
            <input type="text" name="nome_utente" id="nome">

            <label for="username">Username utente:</label>
            <input type="text" name="username_utente" id="username">
            <button type="submit" class="invia-button">Filtra</button>
        </form>
    </section>
    <section class="tabella-ordini">
        <!-- COPIATA DA QUELLA DELLA PROF, DOVREBBE GIA' ESSERE ACCESSIBILE -->
        <!-- descrTabella dobbiamo lasciarlo scritto? che schifo -->
        <span id="descrTabella">TODO</span>
        <table aria-describedby="descrTabella">
            <caption>Utenti</caption>
            <thead> <!-- ci andrebbero anche le abbreviazioni ma solo dove hanno senso, in questo caso potrei farlo solo con Paola Egonu togliendo il secondo nome -->
            <tr>
                <th scope="col">Nome e Cognome</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Ruolo</th>
                <th scope="col">Modifica ruolo</th>
                <th scope="col">Elimina utente</th>
            </tr>
            </thead>
            <tbody>
                [listaUtenti]
            </tbody>
        </table>
    </section>
</main>
[footer]
</body>