<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="utf-8">
  <title>Non solo pizza</title>
  <meta name="description" content="Questo è il sito ufficiale di Non solo Pizza. Una pizzeria e friggitoria d'asporto a gestione familiare a Scandolara. Venite a provare il nostro menù e le nostre pizze Zucca e gorgonzola, Pesto e mozzarella di bufala, Calzone alla Nutella">
  <meta name="keywords" content="Non solo pizza,Scandolara,friggitoria,asporto,famiglia,menù,Zucca e gorgonzola,Pesto e mozzarella di bufala,Calzone alla Nutella">
  <meta name="author" content="Ferraro Sara,Pozzobon Francesco,Santi Andrea,Vallotto Caterina">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style/style.css" media="screen">
  <link rel="stylesheet" href="style/mini.css" media="screen and (max-width: 768px)">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- DA CONTROLLARE SE VANNO SPAN (PER ESEMPIO SU INSTAGRAM E FACEBOOK -->
</head>
<body id="homePage">

[header]

<nav id="breadcrumb" aria-label="Breadcrumb">
  <p>Sei in: <span lang="en">Home</span></p>
</nav>

<main id="content">
  <section id="intro" class="home-section">
    <div id="titolo">
      <img src="assets/logo/logo-neg.png" alt="Logo Non solo pizza">
      <h1>Non solo pizza</h1>
      <h2>Pizzeria e friggitoria Scandolara</h2>
    </div>
    <div id="important-info">
      <div>
        <h3>Dove trovarci</h3>
        <address>Via Scandolara 81, 31059, Scandolara TV</address>
      </div>
      <div>
        <h3>Quando trovarci</h3>
        <p>Martedì - Domenica: <time>18:00</time> - <time>21:30</time></p>
        <p>Giorno di chiusura: Lunedì</p>
      </div>
      <div>
        <h3>Chiamaci!</h3>
        <p>0422345324</p>
      </div>
    </div>
  </section>

  <section id="filosofia" class="home-section">
    <h2>La nostra filosofia</h2>
    <p><strong>Non Solo Pizza</strong>, siamo molto più di una semplice <strong>pizzeria</strong>: siamo una <strong>famiglia</strong> che crede nel valore della tradizione, nella qualità degli ingredienti e nel piacere del buon cibo. Oltre alle nostre <strong>pizze</strong>, preparate con passione e attenzione, offriamo anche una selezione di <strong>specialità fritte</strong> che portano in tavola sapori autentici e irresistibili.</p>
    <p><strong>Non Solo Pizza</strong> è il luogo dove passione, <strong>famiglia</strong> e territorio si incontrano, per offrirti un’esperienza autentica e indimenticabile.</p>
    <div id="container">
      <img src="assets/pagine/index/filosofia1.jpg" alt="TODO">
      <img src="assets/pagine/index/filosofia2.jpg" alt="TODO">
      <img src="assets/pagine/index/filosofia3.jpg" alt="TODO">
      <img src="assets/pagine/index/filosofia4.jpg" alt="TODO">
    </div>
    <a href="chi-siamo.php" class="home-button">Scopri chi siamo</a>
    <div class="torna-su">
      <a href="#intro"><img src="assets/icons/torna-su.png" alt="Torna su"></a>
    </div>
  </section>

  <section id="fuori-menu" class="home-section">
    <h2>Scopri i nostri fuori menù</h2>
    <div id="FM-content">
      <ul id="lista-FM">
        [pizzeMese]
      </ul>
    </div>
    <a href="menu-prenota.php" class="home-button">Esplora il nostro menù</a>
    <div class="torna-su">
      <a href="#intro"><img src="assets/icons/torna-su.png" alt="Torna su"></a>
    </div>
  </section>

  <section id="download" class="home-section">
    <div id="download-container">
      <div class="download-column">
        <h2>Tieni sempre a portata di mano il nostro listino!</h2>
        <p>Visualizza e scarica il pdf<a href="assets/download/listinoNSP.pdf" download="listino" class="home-button" target="_blank"><img src="assets/icons/download-bianco.png" alt="Scarica il listino pdf"></a> 5,6 <abbr title="MegaByte">MB</abbr></p> <!-- devo mettere lang anche se è abbreviaizone? -->
      </div>
      <div class="download-column">
        <p>Lasciati stupire dal nostro listino completo!</p>
        <p>Qui troverai l'elenco completo della nostra proposta, tra pizze classiche, speciali, e fritti.</p>
        <p>Ti aspettiamo!</p>
      </div>
    </div>
    <div class="torna-su">
      <a href="#intro"><img src="assets/icons/torna-su.png" alt="Torna su"></a>
    </div>
  </section>
</main>

[footer]

</body>
</html>