<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="utf-8">
  <title>Menu/Prenota - Non solo Pizza</title>
  <meta name="description" content=""><!--TODO-->
  <meta name="keywords" content="">
  <meta name="author" content="Santi Andrea,Pozzobon Francesco,Ferraro Sara,Vallotto Caterina">
  <link rel="stylesheet" href="../../style/style.css" media="screen">
  <link rel="stylesheet" href="../../style/mini.css" media="screen and (max-width: 768px)">
  <script src="https://kit.fontawesome.com/fef5fd157c.js" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body id="menu-prenotaPage">
[header]
<nav id="breadcrumb" aria-label="Breadcrumb">
  <p>Sei in: <a lang="en" href="../../index.php">Home</a> / Menu-Prenota</p>
</nav>

<main id="content">
  <section id="MP-intro">
    <div id="smallMenu">
      <h1>Il Nostro Menù</h1>
        [linkMenu]
      <p id="prenota">Affrettati: prenota ora!</p>
      <p id="infoOrdini">utilizza il nostro menù digitale o chiamaci al numero +39 0422 345324</p>
    </div>
  </section>
  <section id="filtri">
    <form method="post" action="../../menu-prenota.php">
      <input type="hidden" name="action" value="filter" />
      <label for="tipo">Filtra per tipo:</label>
      <select name="tipo" id="tipo" class="select">
        <option value="">Tutti</option>
        <option value="0">Pizze</option>
        <option value="1">Cucina</option>
      </select>
      <label for="nome">Filtra per nome:</label>
      <input type="text" name="nome" id="nome">
      <input type="submit" class="invia-button" value="Filtra"/>
    </form>
  </section>
  [menu]
  [cucina]
</main>
[footer]
</body>
[script]
</html>
