<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Menu/Prenota - Non solo Pizza</title>
  <meta name="description" content=""><!--TODO-->
  <meta name="keywords" content="">
  <meta name="author" content="Santi Andrea,Pozzobon Francesco,Ferraro Sara,Vallotto Caterina">
  <link rel="stylesheet" href="../../style/style.css" media="screen">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body id="menu-prenotaPage">
<nav id="breadcrumb">
  <p>Sei in: <a lang="en" href="../../index.php">Home</a> / Menu-Prenota</p>
</nav>

[header]

<main>
  <section class = "MP-intro">
    <div id="smallMenu">
      <h1>Il Nostro Menù</h1>
        <a href="#le_classiche">Le nostre pizze classiche</a>

        <a href="#le_speciali">Le nostre pizze speciali</a>

        <a href="#le_stagionali">Le nostre pizze stagionali</a>

        <a href="#la_cucina">I piatti della nostra cucina</a>

      <p id="prenota">Affrettati: prenota ora!</p>
      <p id="infoOrdini">utilizza il nostro menù digitale o chiamaci al numero +39 0422 345324</p>
    </div>
  </section>

  <section class="pizze-classiche" id="le_classiche">
    <h2>Le Nostre Pizze Classiche</h2>
    <p>
      I gusti classici non tramontano mai: questi sapori sono la prova che le cose migliori non hanno bisogno di complicazioni.
    </p>
    <div class="pizza-container">
      <div class="pizza">
        <div><img src="../../../assets/pizze/asparagi.jpeg" alt="Asparagi"></div>
        <div class="pizza-testo">
          <h3>Asparagi</h3>
          <p>Pomodoro, Mozzarella, Asparagi</p>
        </div>
      </div>
      <div class="pizza">
        <div><img src="../../../assets/icons/pizza_icon.png" alt="Bufalina"></div>
        <div class="pizza-testo">
          <h3>Bufalina</h3>
          <p>Pomodoro, Mozzarella, Mozzarella di Bufala</p>
        </div>
      </div>
      <div class="pizza">
        <div><img src="../../../assets/pizze/briespeck.jpeg"/></div>
        <div class="pizza-testo">
          <h3>Brie e Speck</h3>
          <p>Pomodoro, Mozzarella, Brie, Speck</p>
        </div>
      </div>
      <div class="pizza">
        <div><img src="../../../assets/icons/pizza_icon.png"/></div>
        <div class="pizza-testo">
          <h3>Bresaola</h3>
          <p>Pomodoro, Mozzarella, Bresaola</p>

        </div>
      </div>
    </div>
  </section>

  <section class="pizze-speciali" id="le_speciali">
    <h2>Le Nostre Pizze Speciali</h2>
    <p>Non è solo una pizza, è un’esperienza: ogni sapore speciale ha una storia da raccontare.</p>
    <div class="pizza-container">
      <div class="pizza">
        <div><img src="../../../assets/pizze/asparagiuova.jpeg" alt="Asparagi e Uova"></div>
        <div class="pizza-testo">
          <h3>Asparagi e uova</h3>
          <p>Pomodoro, Mozzarella, Asparagi, Uova</p>
        </div>
      </div>
      <div class="pizza">
        <div><img src="../../../assets/icons/pizza_icon.png" alt="Amalfi"></div>
        <div class="pizza-testo">
          <h3>Amalfi</h3>
          <p>Pomodoro, Mozzarella, Pomodoro a fette, Rucola, Basilico</p>
        </div>
      </div>
      <div class="pizza">
        <div><img src="../../../assets/icons/pizza_icon.png"/></div>
        <div class="pizza-testo">
          <h3>Bella Napoli</h3>
          <p>Pomodoro, Mozzarella, Mozzarella di Bufala, Pomodoro a fette, Rucola</p>
        </div>
      </div>
      <div class="pizza">
        <div><img src="../../../assets/pizze/burrataaccpomod.jpeg"/></div>
        <div class="pizza-testo">
          <h3>Burrata, Acciughe e Pomodorini</h3>
          <p>Pomodoro, Mozzarella, Burrata, Acciughe, Pomodorini</p>
        </div>
      </div>
    </div>
  </section>

  <section class="pizze-stagionali" id="le_stagionali">
    <h2>Le Nostre Pizze Stagionali</h2>
    <p>La nostra passione ci spinge a scoprire sempre cose nuove: proponiamo qualcosa di diverso, i sapori stagionali!</p>
    <div class="pizza-container">
      <div class="pizza">
        <div><img src="../../../assets/icons/pizza_icon.png"></div>
        <div class="pizza-testo">
          <h3>Padana</h3>
          <p>Pomodoro, Mozzarella, Porchetta, Radicchio di Treviso, Grana</p>
        </div>
      </div>
      <div class="pizza">
        <div><img src="../../../assets/pizze/radicchio.jpeg" alt="Radicchio"></div>
        <div class="pizza-testo">
          <h3>Radicchio</h3>
          <p>Pomodoro, Mozzarella, Radicchio di Treviso</p>
        </div>
      </div>
      <div class="pizza">
        <div><img src="../../../assets/icons/pizza_icon.png"></div>
        <div class="pizza-testo">
          <h3>Radicchio e Salsiccia</h3>
          <p>Pomodoro, Mozzarella, Radicchio di Treviso, Salsiccia</p>
        </div>
      </div>
      <div class="pizza">
        <div><img src="../../../assets/pizze/radicchiograna.jpeg" alt="Treviso"></div>
        <div class="pizza-testo">
          <h3>Treviso</h3>
          <p>Pomodoro, Mozzarella, Radicchio di Treviso, Grana</p>
        </div>
      </div>
    </div>
  </section>

  <section class="cucina" id="la_cucina">
    <h2>I Nostri Piatti Della Cucina</h2>
    <p>La nostra passione, coltivata a 360°: Non Solo Pizza!</p>
    <div class="piatti-container">
      <div class="piatti-cucina">
        <div><img src="../../../assets/pizze/calamari.jpeg" alt="Frittura di Calamari"></div>
        <div class="cucina-testo">
          <h3>Frittura di Calamari</h3>
          <!--<p></p>-->
        </div>
      </div>
      <div class="piatti-cucina">
        <div><img src="../../../assets/icons/piatto_icon.png"></div>
        <div class="cucina-testo">
          <h3>Frittura di Calamari con verdure pastellate</h3>
          <!--<p></p>-->
        </div>
      </div>
      <div class="piatti-cucina">
        <div><img src="../../../assets/pizze/frittomisto.jpeg"></div>
        <div class="cucina-testo">
          <h3>Frittura mista di pesce</h3>
          <!--<p></p>-->
        </div>
      </div>
      <div class="piatti-cucina">
        <div><img src="../../../assets/icons/piatto_icon.png"></div>
        <div class="cucina-testo">
          <h3>Baccalà alla vicentina</h3>
          <p>300g</p>
        </div>
      </div>
    </div>
  </section>
</main>
<!--variazioni:baby alta bassa ecc
    allergeni nella pizza
-->
[footer]
</body>
