<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="utf-8">
  <title>Prodotti - Non solo Pizza</title>
  <meta name="description" content="Questa pagina contiene la lista di tutti i prodotti della pizzeria">
  <meta name="keywords" content="Pizza,ingredienti,cucina,piatto,pizza classica,pizza speciale,pizza fuori menu,pizza stagionale">
  <meta name="author" content="Santi Andrea,Pozzobon Francesco,Ferraro Sara,Vallotto Caterina">
  <link rel="stylesheet" href="style/style.css" media="screen">
  <link rel="stylesheet" href="style/mini.css" media="screen and (max-width: 768px)">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
[header]
<nav id="breadcrumb" aria-label="Breadcrumb">
  <p>Sei in: <a lang="en" href="index.php">Home</a> / <a lang="en" href="dashboard.php">Dashboard</a> / Visualizza prodotti</p>
</nav>
<main id="content">
  <!-- anche qui lascio 3 sezioni -->
  <section id="general-intro">
    <h1>PRODOTTI</h1>
  </section>
  <section id="filtri">
    <form method="post" action="prodotti.php">
      <div>
        <input type="hidden" name="action" value="filter" />
        <label for="tipo">Filtra per tipo:</label>
        <select name="tipo" id="tipo" class="select">
          <option value="">Tutti</option>
          <option value="0">Ingredienti</option>
          <option value="1">Pizze</option>
          <option value="2">Cucina</option>
        </select>
      </div>
      <div>
        <label for="nome">Filtra per nome:</label>
        <input type="text" name="nome" id="nome" />
      </div>
      <input type="submit" class="invia-button" value="Filtra" />
    </form>
  </section>
  <section id="tabella-ordini">
    [operazione-successo]
    <span id="descrTabella">In questa tabella vengono riassunti tutti i prodotti organizzati per colonne: Informazioni sul prodotto, Tipo, Prezzo, Modifica del prodotto ed Eliminazione.</span>
    <table aria-describedby="descrTabella">
      <caption>Ordini</caption>
      <thead>
      <tr>
        <th scope="col" abbr="Info">Info prodotto</th>
        <th scope="col">Tipo</th>
        <th scope="col">Prezzo</th>
        <th scope="col">Modifica</th>
        <th scope="col">Elimina</th>
      </tr>
      </thead>
      <tbody>
      [visProdotti]
      </tbody>
    </table>
  </section>
  <div class="torna-su" id="mobile-plus">
    <a href="#general-intro"><img src="assets/icons/torna-su.png" alt="Torna su" /></a>
  </div>
</main>
[footer]
</body>
</html>