<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Riepilogo Ordini - Non solo Pizza</title>
    <meta name="description" content=""><!--TODO-->
    <meta name="keywords" content="">
    <meta name="author" content="Santi Andrea,Pozzobon Francesco,Ferraro Sara,Vallotto Caterina">
    <link rel="stylesheet" href="../../style/style.css" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
[header]
<nav id="breadcrumb">
    <p>Sei in: <span lang="en">Home</span></p>
</nav>
<main id="RO">
    <section id="RO-intro">
        <h1>RIEPILOGO ORDINI</h1>
        <h2>Ordine confermato!</h2>
        <p>Ti aspettiamo alle ore ORARIO SCELTO</p>
    </section>
    <section id="RO-tabella">
        <!-- COPIATA DA QUELLA DELLA PROF, DOVREBBE GIA' ESSERE ACCESSIBILE -->
        <!-- descrTabella dobbiamo lasciarlo scritto? che schifo -->
        <span id="descrTabella">In questa tabella vengono riassunti gli ultimi 5 ordini effettuati ORGANIZZATI PER COLONNE: orario, numero totale delle pizze, elenco delle pizze, prezzo, stato dell'ordine.</span>
        <table aria-describedby="descrTabella">
            <caption>Ultimi ordini effettuati</caption>
            <thead> <!-- ci andrebbero ache le abbreviazioni ma solo dove hanno senso, in questo caso potrei farlo solo con Paola Egonu togliendo il secondo nome -->
            <tr>
                <th class="top-left" scope="col">Orario</th>
                <th scope="col">Numero totale pizze</th>
                <th scope="col">Pizze ordinate</th>
                <th scope="col">Prezzo</th>
                <th class="top-right" scope="col">Stato</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Martedì 09/11/22</th>
                <td data-title="Numero totale pizze">2</td>
                <td data-title="Pizze ordinate">
                    <ul>
                        <li>Margherita</li>
                        <li>Viennese</li>
                        <li>Margherita</li>
                        <li>Viennese</li>
                        <li>Margherita</li>
                    </ul>
                </td>
                <td data-title="Prezzo">43€</td>
                <td data-title="Stato">Consegnato</td>
            </tr>
            <tr>
                <th scope="row">Martedì 09/11/22</th>
                <td data-title="Numero totale pizze">2</td>
                <td data-title="Pizze ordinate">
                    <ul>
                        <li>Margherita</li>
                        <li>Viennese</li>
                        <li>Margherita</li>
                        <li>Viennese</li>
                        <li>Margherita</li>
                    </ul>
                </td>
                <td data-title="Prezzo">43€</td>
                <td data-title="Stato">Consegnato</td>
            </tr>
            <tr>
                <th scope="row">Martedì 09/11/22</th>
                <td data-title="Numero totale pizze">2</td>
                <td data-title="Pizze ordinate">
                    <ul>
                        <li>Margherita</li>
                        <li>Viennese</li>
                        <li>Margherita</li>
                        <li>Viennese</li>
                        <li>Margherita</li>
                    </ul>
                </td>
                <td data-title="Prezzo">43€</td>
                <td data-title="Stato">Consegnato</td>
            </tr>
            <tr>
                <th scope="row">Martedì 09/11/22</th>
                <td data-title="Numero totale pizze">2</td>
                <td data-title="Pizze ordinate">
                    <ul>
                        <li>Margherita</li>
                        <li>Viennese</li>
                        <li>Margherita</li>
                        <li>Viennese</li>
                        <li>Margherita</li>
                    </ul>
                </td>
                <td data-title="Prezzo">43€</td>
                <td data-title="Stato">Consegnato</td>
            </tr>
            <tr>
                <th class="bottom-left" scope="row">Martedì 09/11/22</th>
                <td data-title="Numero totale pizze">2</td>
                <td data-title="Pizze ordinate">
                    <ul>
                        <li>Margherita</li>
                        <li>Viennese</li>
                        <li>Margherita</li>
                        <li>Viennese</li>
                        <li>Margherita</li>
                    </ul>
                </td>
                <td data-title="Prezzo">43€</td>
                <td class="bottom-right" data-title="Stato">Consegnato</td>
            </tr>
            </tbody>
        </table>
    </section>
</main>
[footer]
</body>