<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8">
    <title>Riepilogo ordini - Non solo Pizza</title>
    <meta name="description" content="Questa pagina contiene il riepilogo di tutti gli ordini eseguiti da un cliente">
    <meta name="keywords" content="Ordini,pizza,totale ordine">
    <meta name="author" content="Santi Andrea,Pozzobon Francesco,Ferraro Sara,Vallotto Caterina">
    <link rel="shortcut icon" href="assets/logo/logo-neg.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style/style.css" media="screen">
    <link rel="stylesheet" href="style/mini.css" media="screen and (max-width: 768px)">
    <link rel="stylesheet" href="style/print.css" media="print">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
[header]
<nav id="breadcrumb" aria-label="Breadcrumb">
    [breadcrumb]
</nav>
<main id="content">
    <section>
        <div id="general-intro">
            <h1 id="titoloPagSecondaria">RIEPILOGO ORDINI</h1>
        </div>
        <div id="tabella-ordini">
            [messaggioOrdine]
            <p id="descrTabella">In questa tabella vengono riassunti i tuoi ordini organizzati per colonne: Numero ordine, Data e ora, Stato ordine, Totale ordine e Dettagli.</p>
            <table aria-describedby="descrTabella">
                <caption><h2>Ultimi ordini effettuati</h2></caption>
                <thead>
                <tr>
                    <th scope="col" abbr="Numero">Numero ordine</th>
                    <th scope="col">Data e ora</th>
                    <th scope="col" abbr="Stato">Stato ordine</th>
                    <th scope="col" abbr="Totale">Totale ordine</th>
                    <th scope="col" class="noprint">Dettagli</th>
                </tr>
                </thead>
                <tbody>
                [ordiniUtente]
                </tbody>
            </table>
        </div>
        <div class="torna-su" id="mobile-plus">
            <a href="#general-intro"><img src="assets/icons/torna-su.png" alt="Torna su" /></a>
        </div>
    </section>
</main>
[footer]
</body>
</html>