<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8">
    <title>Visualizza Ordini - Non solo Pizza</title>
    <meta name="description" content=""><!--TODO-->
    <meta name="keywords" content="">
    <meta name="author" content="Santi Andrea,Pozzobon Francesco,Ferraro Sara,Vallotto Caterina">
    <link rel="stylesheet" href="style/style.css" media="screen">
    <link rel="stylesheet" href="style/mini.css" media="screen and (max-width: 768px)">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
[header]
<nav id="breadcrumb" aria-label="Breadcrumb">
    <p>Sei in: <a lang="en" href="index.php">Home</a> / Visualizza Ordini</p>
</nav>
<main id="content">
    <!-- per questra pagina paglio 3 sezioni perchè c'è anche la cosa di filtraggio, quindi le vedo come 3 cose separate -->
    <section id="general-intro">
        <h1>ORDINI</h1>
    </section>
    <section id="filtri">
        <form method="post" action="visualizza-ordini.php">
            <div> <!-- HO MESSO DIV PERCHE IN TEORIA INPUT NON PUò ESSERE FIGLIO DIRETTO DI FORM, andre dice corretto-->
                <input type="hidden" name="action" value="filter" />
                <label for="stato">Filtra per stato:</label>
                <select name="stato" id="stato" class="select">
                    <option value="">Tutti</option>
                    <option value="1">Consegnati</option>
                    <option value="0">In corso</option>
                    <option value="-1">Annullati</option>
                </select>
                <label for="cliente">Filtra per nome cliente:</label>
                <input type="text" name="cliente" id="cliente" />
                <label for="data">Filtra per data:</label>
                <input type="date" name="data" id="data" />
                <input type="submit" class="invia-button" value="Filtra" />
            </div>
        </form>
    </section>
    <section id="tabella-ordini">
        [operazione-successo]
        <span id="descrTabella">In questa tabella vengono riassunti tutti gli ordini effettuati organizzati per colonne: Numero ordine, Nome cliente, Data e ora, Stato ordine, Modifica stato e Dettagli.</span>
        <table aria-describedby="descrTabella">
            <caption>Ordini</caption>
            <thead> <!-- ci andrebbero anche le abbreviazioni ma solo dove hanno senso, in questo caso potrei farlo solo con Paola Egonu togliendo il secondo nome -->
            <tr>
                <th scope="col" abbr="Numero" class="num-ordine">Numero ordine</th>
                <th scope="col" abbr="Cliente">Nome cliente</th>
                <th scope="col">Data e ora</th>
                <th scope="col" abbr="Totale">Totale ordine</th>
                <th scope="col">Stato</th>
                <th scope="col">Modifica stato</th>
                <th scope="col">Dettagli</th>
            </tr>
            </thead>
            <tbody>
                [visOrdini]
            </tbody>
        </table>
    </section>
</main>
[footer]
</body>
</html>