
<header>
    <nav aria-label="Aiuti alla navigazione">
        <ul class="listHelp">
            <li><a href="#content" class="navigationHelp">Vai al contenuto</a></li>
            <li><a href="#menu" class="navigationHelp">Vai alla navigazione</a></li>
        </ul>
    </nav>
    <img src="../../../assets/logo/logo.png" alt="Logo Non solo pizza">
    [nomeUtente]
    <nav id="menu">
        <ul>
            [homePlaceholder]
            [chiSiamoPlaceholder]
            [menuOrdiniPlaceholder]
            [carrelloPlaceholder]
            [areaRiservataPlaceholder]
        </ul>
    </nav>
</header>