<header>
    <nav aria-label="Aiuti alla navigazione">
        <ul class="listHelp">
            <li><a href="#content" class="navigationHelp">Vai al contenuto</a></li>
            [menuPrenota-page]
        </ul>
    </nav>
    <img src="assets/logo/logo.png" alt="Logo Non solo pizza" />
    [nomeUtente]
    <nav id="menu">
        <ul>
            [homePlaceholder]
            [chiSiamoPlaceholder]
            [menuOrdiniPlaceholder]
            [carrelloPlaceholder]
            [areaRiservataPlaceholder]
        </ul>
    </nav>
</header>