thead{
    display: none;
}

tr, th, td{
    display: block;
    padding: 0;
}

/* Tolgo i bordi che non siano quelli delle celle */
table, body, tr{
    border: none;
}

th{
    margin-top:1em;
    background-color:#DC1C08;
    border:2px solid #000000 ;
}

/* Aggiungo il bordo all'ultima cella così tutti i bordi orizzontali hanno lo stesso spessore */
tfoot tr td{
    border-bottom: 2px solid #000
}

td[data-title]:before{
    content: attr(data-title) ": ";
    font-weight: bold;
}

/* Per evitare la ripetizione di "Totale Punti" */
tfoot th{
    display: none;
}

/* Faccio sparire le celle vuote */
td:empty{
    display: none;
}
caption{
    font-size: 1.5em;
}

