/*
============
HEADER MOBILE
============
*/
#menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--bgcolor);
    padding: 0.3em;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.15);
    z-index: 10;
    display: flex;
    justify-content: space-evenly;
}

.menuMobile-version{
    display: inline-block;
}

#menu li:not(.menuMobile-version, #currentLink){
    display: none;
}

#menu li:not(.menuMobile-version){
    margin: 0;
}

#menu li #currentLink{
    margin-bottom: 2em;
}

#menu li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--bgcolor2);
    padding: 0.3em;
}

#menu li a img {
    margin-bottom: 0.3em;
    width: 2.3em;
    height: 2.3em;
    object-fit: contain;
}

/*
============
FOOTER MOBILE
============
*/
#footer-top {
    flex-direction: column;
    padding: 1em;
}

.footer-column {
    margin: 1em;
}

#footer-bottom {
    margin-bottom: 3em;
}

/*
============
TABELLE MOBILE
============
*/
thead{
    display: none;
}

tr, th, td{
    display: block;
    padding: 0;
}

table, body, tr{
    border: none;
}

th{
    margin-top:1em;
    background-color:#DC1C08;
    border:2px solid #000000 ;
}

tfoot tr td{
    border-bottom: 2px solid #000
}

td[data-title]:before{
    content: attr(data-title) ": ";
    font-weight: bold;
}

tfoot th{
    display: none;
}

td:empty{
    display: none;
}
caption{
    font-size: 1.5em;
}

