html{
    font-family: "Times New Roman", Times, serif;
    font-size:12pt;
}

body{
    background: none;
    color: #000;
}

header, footer{
    display: none;
}

main {
    margin-left: 0em;
    width: 100%;
    padding: 0.3em 0em 0.5em 0em;
}

img {
    display: none;
}

p{
    text-align: justify;
}

/*
-------------
INDEX PAGE
-------------
 */

#titolo {
    display: flex;
    align-items: center;
    gap: 1em;
    order: 1;
}

#titolo img {
    content: url("../../assets/logo/logo.jpg");
    display: block;
    max-width: 100px;
}

#titolo h1, #titolo h2 {
    margin: 0;
    color: #A2231D;
}

#breadcrumb {
    display: flex;
    order: 2;
}

#important-info{
    max-width: 800px;
    border: 2px solid #000;
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

#important-info div{
    max-width: 200px;
    padding: 0.5em;
    height: 100px;
    /*width: 300px;*/
    width: 33%;
    background-color: var(--txtcolor);
    text-align: center;
}

#important-info div p{
    text-align: center;
}

#filosofia h2{
    text-align: start;
    color: #A2231D;
}

#filosofia{
    text-align: center;
}

.home-button{
    display: inline-block;
    color: rgb(4, 55, 242);
    margin-bottom: 1em;
}

.torna-su a{
    display: none;
}

a:link:after, a:visited:after {
    content: " [" attr(href) "] ";
    font-size: 90%;
}

/*da capire se usare questo sopra (nome+URL) oppure se usare questo sotto (URL e basta)*/
/*
a:link, a:visited {
    content: attr(href); viene mostrato solo l'url
font-size: 90%;
*/

#fuori-menu{
    text-align: center;
}

#fuori-menu h2{
    text-align: start;
    color: #A2231D;
}

#lista-FM {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #000;
    justify-content: space-around;
}

/*#lista-FM li {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    flex-direction: row;*/
/*    flex: 0 1 45%; !* Ogni elemento occupa circa metà riga *!*/
/*    list-style: none; !* Rimuove i puntini *!*/
/*    margin-bottom: 1em; !* Spaziatura tra le righe *!*/
/*}*/

#lista-FM li {
    margin-top: 1em;
    display: flex; /* Attiva Flexbox */
    flex-direction: row; /* Dispone immagine e testo in una riga */
    align-items: center; /* Allinea verticalmente immagine e testo */
    list-style: none; /* Rimuove i puntini */
    margin-bottom: 1em; /* Spaziatura tra gli elementi */
}

#lista-FM li img {
    display: block;
    width: 130px;
    height: auto;
    padding-right: 5em;
}

#lista-FM li a {
    color: black;
    text-decoration: none;
}

#lista-FM li a:hover {
    text-decoration: none;
}

#lista-FM li a:link:after, a:link:visited{
    display: none;
}

#download-container h2{
    color: #A2231D;
}

#download-container .download-column p{
    margin: -0.5px;
}

/*
------------------
MENU PRENOTA PAGE
------------------
*/

#smallMenu{
    display: flex;
    flex-direction: column;
}

#smallMenu h1{
    color: #A2231D;
}

#smallMenu a{
    margin-bottom: 0.5em;
}

#filtri{
    display: none;
}

.menu-prodpercat img{
    display: block;
    margin: 8px 8px 3.2px;
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.menu-prodpercat .pizza-container {
    display: flex;
    flex-direction: column;
    margin-left: 1.5em;
    /*justify-content: space-between;*/
    /*padding: 1em;*/
}


.pizza {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /*border-bottom: 0.8px var(--txtcolor) solid;*/
    margin-bottom: 1em;
    border-bottom: 0.1vh solid black;
}

.pizza-testo {
    width: 500px;
    margin-left: 1.5em;
}

.pizza-testo h3{
    display: flex;
    flex-direction: row;
}

.pizza-testo img{
    width: 17.4px;
    height: 17.4px;
    margin: 0;
    margin-left: 5.5px;
}

.pizza .pizza-prezzo{
    margin-left: 1em;
    width: 5em;
}

.order-actions{
    display: none;
}

/*
---------------------
AGGIUNGI INGREDIENTE
---------------------
*/

[class="errorSuggestion mex"]{
    display: none;
}

.invia-button{
    margin-top: 1em;
    margin-bottom: 1em;
}