*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*per evitare che venga lo scroll orizzontale*/
}

:root{
    --bgcolor: #FAF3E0;
    --txtcolor: #414143;
    --linkcolor: #000;
    --visitedcolor: #666;
    --menucolor: #115783;
    --buttoncolor: #DC1C08;
}

html{
    /*background-image: url(../../assets/grafiche/sfondo.jpg);*/
    /*background-image: url(../../assets/grafiche/sfondo-nero.jpg);*/
    background-image: url(../../assets/grafiche/sfondoarancio2.png);
    background-color: var(--bgcolor);
    background-size: contain;
}

body{
    font-size: 100%;
    font-family: 'Lexend', Roboto, sans-serif;
    line-height: 1.5em;
    margin: auto;
}

/*
------------------
SEZIONE HEADER
------------------
*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    top: 0;
    height: 5em;
    width: 100%;
    z-index: 10;
}

header img {
    height: 100%;
    padding: 0 0.5em;
}

#menu li{
    list-style: none;
    display: inline-block;
    margin-right: 1.5em;
}

#menu li a {
    text-decoration: none;
    color: green;
    position: relative;
}

/* DA VERIFICARE SE VA BENE */
#menu li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.2em;
    width: 0;
    height: 0.1em;
    background-color: green;
    transition: width 0.3s ease;
}

/* DA VERIFICARE SE VA BENE */
#menu li a:hover::after {
    width: 100%;
}

#dropdown {
    position: relative;
    display: inline-block;
}

#dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--bgcolor);
    width: 7em;
    height: 6em;
}

#dropdown-content a {
    color: blue;
    padding: 0.8em 1em;
    text-decoration: none;
    display: block;
}

#dropdown-content a:hover {color: green;}

#dropdown:hover #dropdown-content {display: block;}

#dropdown:hover #droplink {background-color: #3e8e41;}

/*
------------------
SEZIONE BREADCRUMB
------------------
*/
#breadcrumb {
    margin-top: 5em;
    background-color: cadetblue;
    color: #985342;
    height: 3em;
    line-height: 3em;
    padding-left: 0.8em;
}

/*
------------------
SEZIONE FOOTER
------------------
*/
footer {
    background-color: white;
    padding: 3em 4em 1em 4em;
    color: var(--bgcolor);
}

#footer-top {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 3em;
    border-bottom: 1px solid black;
}

.footer-column {
    flex: 1;
    margin: 0 3em;
}

.footer-column h3 {
    margin-bottom: 1.5em;
    font-size: 1.2em;
    color: var(--bgcolor);
}

.footer-column p {
    margin: 0;
    line-height: 1.5;
}

iframe {
    border: none;
    border-radius: 5px;
}

#footer-bottom {
    margin-top: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#footer-bottom #footer-logo {
    height: 4em;
}

#footer-top img {
    height: 2em;
}

/*
------------------
HOME PAGE
------------------
*/
#intro {
    background-image: url('../../assets/pizze/sfondomarghe.png');
    background-color: gray;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 1.5em;
    height: 100vh; /* CAPIRE SE POSSIAMO USARE vh */
    margin-bottom: 1.5em;
}

#intro h1{
    font-size: 2em;
    margin-top: 2em;
}

#intro h2{
    font-size: 0.9em;
    padding-top: 1em;
    padding-bottom: 2em;
}

#intro a {
    display: inline-block;
    margin: 0.5em auto;
    width: 15em;
    padding: 0.5em;
    background-color: transparent;
    border: white 0.1em solid;
    color: white;
    text-decoration: none;
    border-radius: 0.5em;
    text-align: center;
    font-size: 0.7em;
}

#intro a:hover {
    background-color: black;
}

.home-section {
    padding: 3em;
    background-color: #FAF3E0;
    text-align: center;
    color: #414143;
}

.home-section h2 {
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.home-section:not(:last-of-type) {
    margin-bottom: 3em;
}

#download {
    margin-bottom: 1.5em;
}

#filosofia p {
    padding-bottom: 0.5em;
    line-height: 2em;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    max-width: 50em;
    padding-bottom: 2em;
    padding-top: 2em;
    margin: 0 auto;
}

#container img {
    flex-grow: 1;
    width: 22em;
    height: 10em;
    object-fit: cover;
}

/* COMMENTO INIZIA QUI
#container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 60%;
    gap: 1em;
    align-items: center;
    padding-bottom: 2em;
    padding-top: 2em;
    margin: 0 auto;
    /*flex-wrap: wrap;*/
/*}
#container img {
    /*max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    margin: 0 auto;*/
    /*width: 100%; /* Adatta l'immagine alla cella */
    /*height: auto; /* Mantieni le proporzioni */
    /*object-fit: cover;
    /*border-radius: 5px;*/
    /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#container img {
    aspect-ratio: 5 / 3; /* Forza proporzioni uniformi (orizzontale 4:3) */
    /*height: auto; /* Mantiene la dimensione proporzionata */

/*}
E FINISCE QUI*/

.home-section .home-button {
    display: inline-block;
    margin: 0.5em auto;
    width: 15em;
    padding: 0.5em;
    background-color: var(--buttoncolor);
    color: var(--bgcolor);
    text-decoration: none;
    border-radius: 0.5em;
}

.home-section .home-button:hover {
    background-color: var(--txtcolor);
}

#fuori-menu #FM-content {
    display: flex;
    align-items: center;
    padding-bottom: 2em;
    padding-top: 2em;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#fuori-menu #FM-content li img {
    max-width: 100%;
    height: 8em;
    object-fit: cover;
    border-radius: 5px;
    flex-grow: 1;
    margin: 0 auto;
}

#fuori-menu #FM-content li {
    transition: 0.8s ease;
}

#fuori-menu #FM-content li:hover {
    transform: scale(1.2);
}

#fuori-menu #FM-content a {
    text-decoration: none;
    color: black;
}

#lista-FM li {
    list-style: none;
    display: inline-block;
    margin: 0 3em;
}

#download-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    flex-wrap: wrap;
    /* NEL MINI.CSS METTERE CHE LA COLONNA CON LE SCRITTE VA SOTTO A QUELLA CON IL BOTTONE, FORSE CON FLEX-DIRECTION: COLUMN; */
}

.download-column {
    flex: 1 1 10%;
    padding: 1em;
}

.download-column:first-child {
    flex: 2;
}

.download-column h2 {
    font-size: 1.8em;
    font-weight: bold;
    color: #000; /* Testo nero */
}

.download-column p {
    font-style: italic;
}

.torna-su {
    position: absolute;
    right: 1em;
    padding: 0.5em;
    border-radius: 0.3em;
}

.torna-su:hover {
    background-color: orange;
}

/*
------------------
CHI SIAMO PAGE
------------------
*/
#chi-siamo-intro {
    background-image: url('../../assets/pagine/chi-siamo/chi-siamo-intro.jpg');
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
    /*color: var(--txtcolor);*/
    text-align: center;
    font-size: 1.5em;
    height: 50vh;
    width: 100%;
    margin: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#chi-siamo-intro img {
    max-width: 100%;
    height: auto;
}

#chi-siamo-contenitore{
    display:flex;
    justify-content: flex-start;
    background-color: #007BFF;
    /*flex-wrap: wrap;*/

}

.chi-siamo-items{
    flex-grow: 1;
    padding:3em;
}

.chi-siamo-items:hover{
    background-color: #666;
}

.chi-siamo-titoli{
    display:flex;
    justify-content:flex-start;

}

.chi-siamo-titoli h2{
    margin:auto;
}

.chi-siamo-items p{
    margin-top:0.5em;
}

.chi-siamo-boxes{
    background-color: #FFF;
    padding-left:5%;
    padding-right:5%;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    gap:10em;

}

.chi-siamo-boxes img {
    width: 35%;
    height:70%;
  }

.chi-siamo-testo{
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
}