*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --bgcolor: #fff;
    --txtcolor: #000;
    --bgcolor2: #cd492a;
    --bgcolor3: #414143;
}

html{
    background-color: var(--bgcolor);
    background-size: cover;
    background-image: url(../assets/grafiche/sfondo-nero.jpg);
    background-repeat: no-repeat;
}

body{
    font-size: 100%;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5em;
    margin: auto;
}

/*
------------------
SEZIONE HEADER
------------------
*/
header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    background-color: var(--bgcolor);
    height: 5em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
}

header img {
    height: 100%;
    padding: 0 0.5em;
}

#menu {
    margin-left: auto;
    white-space: nowrap;
}

#menu li:not(.menuMobile-version){
    list-style: none;
    display: inline-block;
    margin-right: 0.5em;
}

.menuMobile-version{
    display: none;
}

#menu li a {
    color: var(--bgcolor2);
    padding: 0.5em;
    border-radius: 0.4em;
    border-bottom: 2px solid var(--bgcolor2);
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#menu li a:visited {
    color: var(--txtcolor);
    border-bottom: 2px solid var(--txtcolor);
}

#menu li a:visited:hover {
    background-color: var(--txtcolor);
    color: var(--bgcolor);
}

#menu li a:link:hover {
    background-color: var(--bgcolor2);
    color: var(--bgcolor);
}

/*
=============
AIUTI ALLA NAVIGAZIONE
=============
*/

.navigationHelp{
    position: absolute;
    text-indent: -999em;
}

.navigationHelp:focus{
    position: static;
    text-indent: 0;
}

.listHelp{
    list-style-type: none;
}

/*
------------------
SEZIONE BREADCRUMB
------------------
*/
#breadcrumb {
    margin-top: 5em;
    color: var(--bgcolor2);
    min-height: 3em;
    line-height: 3em;
    padding-left: 0.8em;
    background-color: var(--bgcolor);
}

#breadcrumb a:visited {
    color: var(--txtcolor);
}

#breadcrumb a:link {
    color: var(--bgcolor2);
}

/*
------------------
SEZIONE FOOTER
------------------
*/
footer {
    padding: 0 0.7em 0.7em;
    color: var(--bgcolor);
}

#footer-top {
    background-color: var(--bgcolor3);
    display: flex;
    justify-content: space-evenly;
    padding: 3em;
    border-bottom: 1px solid var(--bgcolor);
}

.footer-column {
    flex: 1;
    margin: 0 3em;
}

.footer-column h3 {
    margin-bottom: 1.5em;
    font-size: 1.2em;
    color: var(--bgcolor);
}

.footer-column p {
    margin: 0;
    line-height: 1.5;
}

.footer-column p:first-child {
    font-size: 1.3em;
}

iframe {
    border: none;
    border-radius: 5px;
}

#footer-bottom {
    background-color: var(--bgcolor3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1em;
}

#footer-bottom #footer-logo {
    height: 4em;
}

.social:hover {
    opacity: .4;
}

#footer-top .footer-column iframe{
    margin-top: 0.7em;
}


/*
------------------
HOME PAGE
------------------
*/
.home-section {
    padding: 3em;
    text-align: center;
    color: var(--txtcolor);
    position: relative;
}

.home-section h2 {
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.home-section:not(:last-of-type) {
    margin-bottom: 1.5em;
}

.home-section:not(:first-child) {
    background-color: var(--bgcolor);
}

#intro {
    padding: 0.7em;
    margin-bottom: 0;
}

#titolo {
    background-image: url(../assets/pagine/index/titolo.png);
    background-color: var(--bgcolor3);
    background-size: cover;
    color: var(--bgcolor);
    text-align: right;
    font-size: 1.5em;
    padding: 2em;
}

#titolo h2 {
    text-align: right;
    color: var(--bgcolor);
}

@media (max-width: 1100px) {
    #titolo h2 {
        max-width: 6em;
        margin-left: auto;
        margin-right: 0;
        line-height: 1.5;
        text-align: right;
    }
}

#titolo img {
    height: 7em;
}

#important-info {
    background-color: var(--bgcolor2);
    margin-top: 1em;
    display: flex;
    color: var(--bgcolor);
    justify-content: space-between;
}

#important-info h3{
    padding-bottom: 1em;
}

#important-info div {
    padding: 3em;
    width: 30em;
}

#download {
    margin-bottom: 1.5em;
}

#filosofia p {
    padding-bottom: 0.5em;
    line-height: 2em;
}

#container {
    display: flex;
    gap: 1em;
    justify-content: space-between;
    align-content: center;
}

#container div {
    flex-grow: 1;
    width: 22em;
    height: 10em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin:auto;
}

#img1 {
    background-image: url('../assets/pagine/index/filosofia1.jpg');
}
#img2 {
    background-image: url('../assets/pagine/index/filosofia2.jpg');
}

#img3 {
    background-image: url('../assets/pagine/index/filosofia3.jpg');
}

#img4 {
    background-image: url('../assets/pagine/index/filosofia4.jpg');
}

.home-button {
    display: inline-block;
    margin: 0.5em auto;
    width: 15em;
    padding: 0.5em;
    background-color: var(--bgcolor2);
    color: var(--bgcolor);
    text-decoration: none;
    border-radius: 0.5em;
    transition: background-color 0.3s ease;
}

.home-button:hover {
    background-color: var(--txtcolor);
}

.home-button:visited {
    background-color: var(--txtcolor);
}

.home-button:visited:hover {
    background-color: var(--bgcolor2);
}

#fuori-menu #FM-content {
    display: flex;
    align-items: center;
    padding-bottom: 2em;
    padding-top: 2em;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#fuori-menu #FM-content li img {
    max-width: 100%;
    height: 8em;
    object-fit: cover;
    border-radius: 5px;
    flex-grow: 1;
    margin: 0 auto;
}

#fuori-menu #FM-content li {
    transition: 0.8s ease;
}

#fuori-menu #FM-content li:hover {
    transform: scale(1.1);
}

#fuori-menu #FM-content:hover li:not(:hover) {
    opacity: 0.5;
    transform: scale(0.8);
}

#fuori-menu #FM-content a {
    text-decoration: none;
    color: var(--txtcolor);
}

#lista-FM li {
    list-style: none;
    display: inline-block;
    margin: 0 3em;
}

#download-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    flex-wrap: wrap;
}

.download-column {
    flex: 1 1 10%;
    padding: 1em;
}

.download-column:first-child {
    flex: 2;
}

.download-column h2 {
    font-size: 1.8em;
    font-weight: bold;
    color: var(--txtcolor);
}

.download-column p {
    font-style: italic;
}

#download .home-button{
    margin-left: 1em;
    padding: 0;
    width: 3em;
}

.download-column img{
    height: 2.5em;
}

.torna-su {
    position: absolute;
    bottom: 1em;
    right: 1em;
    padding: 0.5em;
    border-radius: 0.3em;
    background-color: var(--bgcolor);
    transition: background-color 0.3s ease;
    z-index: 1;
}

.torna-su:hover {
    background-color: var(--bgcolor2);
}

#mobile-plus.torna-su{
    position: absolute;
    text-indent: -999em;
    padding: 0;
}

/*
------------------
CHI SIAMO PAGE
------------------
*/
#chi-siamo-intro {
    background-image: url('../assets/pagine/chi-siamo/chi-siamo-intro-b.png');
    background-color: var(--txtcolor);
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
    color: var(--txtcolor);
    text-align: center;
    font-size: 1.35em;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
}

.title-container {
    background-color: rgba(205, 73, 42, 0.7);
    padding: 1.5em 2em;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}

#chi-siamo-intro h1 {
    margin: 0;
    color: var(--bgcolor);
    font-size: 2em;
    letter-spacing: 0.18em;
    position: relative;
    z-index: 2;
}

.title-container::before,
.title-container::after {
    content: '';
    position: absolute;
    background-color: var(--bgcolor);
    height: 0.125em;
}

.title-container::before {
    left: 0;
    right: 0;
    top: 0.5em;
    margin: 0 1.25em;
}

.title-container::after {
    left: 0;
    right: 0;
    bottom: 0.5em;
    margin: 0 1.25em;
}

#chi-siamo-contenitore{
    display: flex;
    justify-content: flex-start;
    background-color: var(--bgcolor2);
    margin: 0.6em;
}

.chi-siamo-items{
    flex-grow: 1;
    padding: 3em;
    width: 33.3%;
    color: var(--bgcolor);
}

.chi-siamo-titoli{
    display:flex;
    justify-content:flex-start;
}

.chi-siamo-titoli h2{
    margin:auto;
}

.chi-siamo-items p{
    margin-top:0.5em;
}

.chi-siamo-boxes{
    background-color: var(--bgcolor);
    display:flex;
    justify-content:flex-start;
    align-items:center;
    gap:10em;
    padding: 2.5em 5%;
    margin-top:1.5em;
    margin-bottom: 1.5em;
    position: relative;
}


.chi-siamo-testo{
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
}

.chi-siamo-testo p{
    color: var(--txtcolor);
}

.chi-siamo-testo h3{
    padding-bottom:0.5em;
    align-self: center;
}

#chi-siamo-ic-storia{
    background-image: url('../assets/pagine/chi-siamo/storia.png');
}

#chi-siamo-ic-qualita{
    background-image: url('../assets/pagine/chi-siamo/qualita.png');
}
#chi-siamo-ic-filosofia {
    background-image: url('../assets/pagine/chi-siamo/filosofia.png');
}

#chi-siamo-img-storia{
    background-image: url('../assets/pagine/chi-siamo/chi-siamo-storia.jpg');
}

#chi-siamo-img-qualita{
    background-image: url('../assets/pagine/chi-siamo/chi-siamo-qualita.jpg');
}
#chi-siamo-img-filosofia {
    background-image: url('../assets/pagine/chi-siamo/chi-siamo-filosofia.jpg');
}

.chi-siamo-ic {
    width: 15%;
    padding-bottom: 15%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 3%;
}

.chi-siamo-img {
    width: 90%;
    padding-bottom: 15%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 3px;
}

/*
------------------
RIEPILOGO-ORDINI PAGE
------------------
*/
#tabella-ordini {
    background-color: var(--bgcolor);
    padding: 3em;
}

#tabella-ordini caption{
    font-weight: bold;
    color: var(--txtcolor);
}

#tabella-ordini thead{
    background-color: var(--bgcolor2);
    color: var(--bgcolor);
}

#tabella-ordini tbody{
    background-color: var(--bgcolor);
    color: var(--txtcolor);
}

#tabella-ordini table{
    width: 90%;
    margin: auto auto 2em;
    text-align: center;
    border-collapse: collapse;
}

#tabella-ordini td, th{
    padding: 0.8em;
}

#tabella-ordini th, td {
    border-bottom: 1px solid var(--txtcolor);
}

#tabella-ordini tfoot{
    color: var(--txtcolor);
}

#descrTabella{
    position: absolute;
    text-indent: -999em;
}

#tabella-ordini label{
    position: absolute;
    text-indent: -999em;
}

#tabella-ordini a{
    padding: 0.4em 0.5em 0.20em;
    text-decoration: none;
    border-bottom: solid 2px var(--bgcolor2);
    border-radius: 0.4em;
    white-space: nowrap;
}

#tabella-ordini a:link{
    color: var(--bgcolor2);
}

#tabella-ordini a:link:hover{
    background-color: var(--bgcolor2);
    color: var(--bgcolor);
}

#tabella-ordini a:visited{
    color: var(--txtcolor);
    border-bottom: 2px solid var(--txtcolor);
}

#tabella-ordini a:visited:hover {
    background-color: var(--txtcolor);
    color: var(--bgcolor);
}

#tabella-ordini img{
    margin-right: 0.5em;
}

#tabella-ordini .invia-button{
    width: 8em;
    margin: 0.5em;
}

#tabella-ordini select{
    line-height: 2em;
}

/*
------------------
AREA-RISERVATA PAGE
------------------
*/
#container-form h2{
    text-align: center;
    margin-bottom: 0.7em;
}

#container-form {
    width: 35%;
    min-height: 70vh;
    margin: auto auto 2em;
}

#container-form form{
    background-color: var(--bgcolor);
    padding: 2.5em;
    border-radius: 0.4em;
    min-width: 30%;
}

#container-form .invia-button{
    width: 100%;
}

.switch-text {
    text-align: center;
    margin-top: 1.25em;
    color: var(--txtcolor);
    font-size: 0.875em;
}

.switch-text a {
    color: var(--bgcolor2);
}

.switch-text a:hover {
    color: var(--bgcolor3);
}

.switch-text a:visited{
    color: var(--txtcolor);
}

#registerForm,
#loginForm {
    display: block;
}

#registerForm.js-hidden,
#loginForm.js-hidden{
    display: none;
}

#loginForm.active,
#registerForm.active {
    display: block;
}

.default-text {
    color: var(--txtcolor);
    font-size: 0.875em;
}

.errorSuggestion {
    color: var(--bgcolor2);
    font-size: 0.875em;
    font-weight: 500;
}

.successMessage {
    color: green;
    font-size: 0.875em;
    font-weight: 500;
}

/*
------------------
DETTAGLI-ORDINE PAGE
------------------
*/
#DO{
    display: flex;
    align-items: center;
    min-height: 70vh;
}

#DO-intro{
    margin: 2em;
    background-color: var(--bgcolor);
    color: var(--txtcolor);
    min-width: 25%;
    min-height: 50vh;
}

#DO-intro h1{
    padding: 3em;
}

#DO-intro .home-button{
    display: inline-block;
    padding: 0.7em;
    margin: 3em;
    width: 70%;
}

#DO #tabella-ordini {
    margin-right: 0.7em;
    min-height: 50vh;
    min-width: 60%;
}

#note {
    font-size: 1em;
    color: var(--bgcolor);
    text-align: center;
    background-color: var(--bgcolor3);
    padding: 1.5em;
    border-radius: 0.4em;
    border: 1px solid var(--txtcolor);
    margin: 1em;
}

/*
---------------------
MENU-PRENOTA-PAGE
---------------------
*/
#menu-prenotaPage .torna-su:not(#mobile-plus){
    position: relative;
    bottom: 1em;
    right: 1em;
    margin-left: auto;
    padding: 0.5em;
    border-radius: 0.3em;
    transition: background-color 0.3s ease;
    z-index: 1;
}

#MP-intro{
    background-image: url('../assets/pagine/menu-prenota/blurred.png');
    background-color: var(--bgcolor);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    text-align: center;
    font-size: 1.2em;
    height: 70vh;
    margin: 0.5em;
    display: flex;
}

#smallMenu {
    display: flex;
    flex-direction: column;
    padding: 2em;
    margin: 2em;
    border-radius: 0.4em;
    justify-content: center;
    color: var(--txtcolor);
    background-color: rgba(255, 255, 255, 0.6);
    width: 20em;
}

#smallMenu h1{
    font-size: 1.2em;
}

#smallMenu #prenota{
    font-weight: bold;
    margin-top: 1em;
}

#smallMenu #infoOrdini{
    font-size: 0.76em;
    color: var(--txtcolor);
    overflow-wrap: break-word;
}

#smallMenu a{
    color: var(--txtcolor);
    background-color: var(--bgcolor2);
    border: var(--bgcolor2) 0.125em solid;
    border-radius: 0.4em;
    padding: 0.35em;
    margin-top: 0.8em;
    text-align: center;
    transition: background-color 0.5s;
    text-decoration: none;
    font-size: 0.9em;
}

#smallMenu a:visited{
    color: var(--bgcolor);
    background-color: var(--txtcolor);
    border: var(--txtcolor) 0.125em solid;
}

#smallMenu a:hover{
    color: var(--txtcolor);
    background-color: var(--bgcolor);
}

.menu-prodpercat {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0.5em;
    background-color: var(--bgcolor);
    margin-top: 0.7em;
    margin: 0.5em;
}

.menu-prodpercat h2 {
    text-align: center;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    color: var(--bgcolor);
    background-color: var(--bgcolor2);
    width: fit-content;
    padding: 0.5em 5em;
}

.menu-prodpercat p{
    margin-bottom: 1em;
}

.pizza {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 0.8px var(--txtcolor) solid;
    margin-bottom: 1em;
    width: 65%;
}

.pizza img {
    margin: 0.5em 0.5em 0.2em;
    width: 10em;
    height: 7em;
    object-fit: cover;
}

.menu-prodpercat .pizza-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sez-intro{
    text-align: center;
}

.pizza-testo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40em;
}

.pizza-prezzo{
    font-weight: bold;
    width: 10em;
}

.order-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    margin-top: 0.5em;
}

.quantity-controls {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.quantity-controls button:hover {
    background-color: var(--bgcolor);
}

.quantity-controls span {
    font-size: 1em;
    font-weight: bold;
}

.add-to-cart {
    padding: 0.4em 1em;
    font-size: 1em;
    background-color: var(--bgcolor2);
    color: var(--bgcolor);
    border: none;
    border-radius: 0.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart:hover {
    color: var(--bgcolor);
    background-color: var(--bgcolor2);
}

.order-actions .home-button{
    border: none;
    font-size: 1em;
}

.quantity-controls button img, .controlloQuantita button img{
    height: 1.4em;
    width: 1.4em;
}

.quantity-controls button:hover, .controlloQuantita button:hover{
    background-color: var(--bgcolor2);
}

.pizza-testo img{
    height: 1.4em;
    width: 1.4em;
    margin: 0;
}

#menu-prenotaPage .invia-button, #carrelloPage #FM-content .invia-button {
    padding: 0.8em;
    width: 15em;
    white-space: wrap;
}

#menu-prenotaPage .messaggio{
    margin: 1em;
    color: var(--bgcolor);
}

/*
------------------
CARRELLO
------------------
*/
#primadisp{
    font-size: 0.9em;
    font-style: italic;
}

.dettaglioItem h4{
    width: 7em  ;
    margin-right: 1em;
}

.order-form textarea{
    border: 1px var(--txtcolor) solid;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 3em;
    margin-bottom: 1.5em;
}

.dettaglioItem {
    flex-direction: column;
}

.controlloQuantita {
    display: flex;
    align-items: center;
}

.controlloQuantita form{
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.controlloQuantita button, .quantity-controls button{
    background-color: transparent;
    padding: 0.5em;
    font-size: 1.2em;
    cursor: pointer;
    color: var(--txtcolor);
    border: none;
    border-radius: 0.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.6em;
    height: 1.6em;
}

.order-summary #prezzoTot{
    border-top: 1px solid var(--txtcolor);
    padding-top: 0.5em;
    font-weight: bold;
}

#proposta-mese{
    margin-top: 2em;
}

#proposta-mese #FM-content {
    display: flex;
    align-items: center;
    padding-bottom: 2em;
    padding-top: 2em;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#proposta-mese #FM-content li img {
    max-width: 100%;
    height: 8em;
    object-fit: cover;
    border-radius: 5px;
    flex-grow: 1;
    margin: 0 auto;
}

#proposta-mese #FM-content li {
    transition: 0.8s ease;
}

#proposta-mese button{
    border: none;
}

.order-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.order-form, .order-summary {
    background: var(--bgcolor);
    padding: 1em;
    margin: 1em;
    border-radius: 8px;
}

.order-form {
    min-width: 45%;
}

.order-summary {
    min-width: 45%;
}

.order-summary h2 {
    font-size: 1.2em;
    margin-bottom: 1em;
    text-align: center;
}

.order-container input, textarea {
    width: 100%;
    padding: 0.65em;
    font-size: 1em;
    border-radius: 0.3em;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    resize: vertical;
    min-height: 3em;
    max-height: 9em;
}

.order-container .home-button{
    border: none;
}

#carrelloPage .messaggio{
    padding: 1.5em;
    margin-top: 1em;
}

/*
------------------
VISUALIZZA ORDINI e GESTISCI UTENTI PAGE
------------------
*/
#general-intro{
    background-color: var(--bgcolor3);
    color: var(--bgcolor);
    text-align: center;
    padding: 3em;
    margin: 1em;
    line-height: 2em;
}

.select {
    padding: 0.5em;
    font-size: 0.9em;
    border: 0.125em solid var(--txtcolor);
    border-radius: 0.4em;
    background-color: var(--bgcolor);
    color: var(--txtcolor);
    outline: none;
}

#filtri input {
    background-color: var(--bgcolor);
    color: var(--txtcolor);
}

#filtri div {
    display: inline;
}

.select:focus {
    border-color: var(--bgcolor2);
}

#filtri .select{
    border-color: var(--bgcolor2);
}

.invia-button{
    padding: 0.5em;
    font-size: 0.8em;
    color: var(--bgcolor);
    background-color: var(--bgcolor3);
    border: none;
    width: 13em;
    white-space: wrap;
    border-radius: 0.4em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.invia-button:hover {
    background-color: var(--bgcolor2);
    transform: translateY(-2px);
}

#filtri input{
    border: 0.1em solid var(--bgcolor2);
}

#filtri form .invia-button{
    background-color: var(--bgcolor);
    color: var(--bgcolor3);
    font-size: 1.1em;
    width: 6em;
}

#filtri form .invia-button:hover {
    color: var(--txtcolor);
}

#filtri input{
    padding: 0.7em;
    border-radius: 0.4em;
}

#filtri{
    background-color: var(--bgcolor2);
    margin: 0;
    color: var(--bgcolor);
}

#filtri form{
    padding: 1em;
}

#filtri form label {
    margin-right: 0.7em;
}

#filtri form  input, #filtri form select {
    margin-right: 0.9em;
}

.visualizza-dettagli{
    height:1.5em;
}

/*
------------------
DASHBOARD PAGE
------------------
*/
.dashboard{
    background-color: var(--bgcolor);
    margin: 1em;
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    padding: 1em;
}

.dashboard div{
    margin: 0;
    font-size: 0.85em;
}

.dashboard div .home-button {
    width: 40%;
}

.dashboard p:hover:not(.messaggio){
    background-color: var(--bgcolor);
}

.dashboard #dashboard-gestisci{
    background-color: var(--bgcolor);
    color: var(--bgcolor2);
    border: 1px solid var(--bgcolor2);
    margin:0.5em auto;
}

#dashboard-clienti{
    background-image: url("../assets/icons/utente-bianco.png");
}

#dashboard-ingredienti{
    background-image: url("../assets/icons/ingrediente-bianco.png");
}

#dashboard-ordini{
    background-image: url("../assets/icons/ordine-bianco.png");
}

#dashboard-piatto{
    background-image: url("../assets/icons/piatto-bianco.png");
}

#dashboard-pizza{
    background-image: url("../assets/icons/pizza-bianca.png");
}

#dashboard-prodotti{
    background-image: url("../assets/icons/prodotti-bianco.png");
}
#dashboard-freccia{
    background-image: url("../assets/icons/freccia-basso.png");
}

.dashboard .home-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2% 3%;
    gap: 4%;
    width: 50%;
}

.dashboard .home-button img {
    margin-left: auto;
    height: auto;
}

.dashboard-ic {
    width: 5%;
    height: 0;
    padding-bottom: 5%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    margin-left: 2%;
    vertical-align: middle;
    min-width: 30px;
}

#dashboard-clienti,
#dashboard-ingredienti,
#dashboard-ordini,
#dashboard-piatto,
#dashboard-pizza,
#dashboard-prodotti,
#dashboard-freccia{
    background-size: contain;
    min-height: 30px;
    padding-bottom: 0;
    height: auto;
    display: block;
}
#dashboard-freccia{
    margin-left: auto;
}


/*
------------------
CSS PER I FORM DI AGGIUNTA
------------------
*/
#aggiunta-content{
    background-color: var(--bgcolor);
    padding: 3em;
    border-radius: 0.4em;
    margin: 1em 5em 5em;
}

.form-aggiunta label{
    display: block;
    font-weight: bold;
    margin-bottom: 0.3em;
    color: var(--txtcolor);
    font-size: 1.2em;
    margin-top: 0.5em;
}

.form-aggiunta .check label{
    display: inline;
}

.form-aggiunta input[type="text"], input[type="number"], input[type="password"], input[type="email"]{
    width: 100%;
    padding: 0.5em;
    border: 0.1em solid var(--txtcolor);
    border-radius: 0.4em;
    font-size: 1em;
}

.form-aggiunta input[type="text"]:focus, input[type="number"]:focus, input[type="password"]:focus,  input[type="email"]:focus {
    border: 0.125em solid var(--bgcolor2);
    outline: none;
}

.form-aggiunta p {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--txtcolor);
    padding-top: 0.5em;
}

.form-aggiunta input:checked + label {
    color: var(--bgcolor2);
    font-weight: bold;
}

.form-aggiunta input:checked + label {
    color: var(--bgcolor2);
    font-weight: bold;
}

.form-aggiunta .invia-button{
    font-size: 1em;
}

.form-aggiunta div{
    margin-bottom: 1em;
}

.form-aggiunta input[type="checkbox"] {
    transform: scale(1.5);
    margin-right: 0.7em;
}

.form-aggiunta textarea {
    border: 2px solid var(--txtcolor);
}

.form-fieldset{
    padding: 0 1.3em 1.3em;
    border-radius: 0.4em;
    margin-bottom: 1em;
}

.form-fieldset legend{
    font-size: 1.2em;
}

/*
------------------
CSS PER LE PAGINE DI AGGIUNTA
------------------
*/
#aggiunta-page .select{
    background-color: white;
}

#aggiunta-page .home-button{
    margin-top: 3em;
    width: auto;
    background-color: var(--txtcolor);
}

#aggiunta-page .home-button:hover{
    background-color: var(--bgcolor2);
}

/*
------------------
CSS PER LA GESTIONE DEI PRODOTTI IN CARRELLO
------------------
*/

.inlineComponents{
    display:inline;
}

/*
------------------
CSS PER MESSAGGIO DI SUCCESSO O ERRORE
------------------
*/
.messaggio{
    font-size: 1.2em;
    color: var(--txtcolor);
    text-align: center;
    background-color: var(--bgcolor2);
    padding: 1.5em;
    border-radius: 0.4em;
    margin-bottom: 1em;
    border: 1px solid var(--txtcolor);
}

.errore-form{
    border: 1px solid var(--bgcolor2);
    border-radius: 0.4em;
}

.errore-form span{
    margin-left: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 1.2em;
    color: var(--bgcolor2);
}

.errore-form ul{
    list-style-type: none;
}

.errore-form li{
    margin-left: 0.5em;
    background-image: url("../assets/icons/x-icon.png");
    background-position: left center;
    background-size: 1.5em;
    background-repeat: no-repeat;
    padding-left: 1.7em;
}

.default-text {
    color: var(--txtcolor);
}

.errorSuggestion {
    color: var(--bgcolor2);
}

input .error {
    border: 2px solid var(--bgcolor2);
}

/*
------------------
ERROR PAGE
------------------
*/
.error-section {
    padding: 3em;
    text-align: center;
    color: var(--txtcolor);
    position: relative;
}

#error404{
    font-size: 20em;
    line-height: 1.5em;
    background-image: url('../assets/grafiche/404.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999px;
}

#error500{
    font-size: 20em;
    line-height: 1.5em;
    background-image: url('../assets/grafiche/500.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999px;
}

#erroreGenerico{
    font-size: 20em;
    line-height: 1.5em;
    background-image: url('../assets/grafiche/eGenerico.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999px;
}

.error-section{
    background-color: var(--bgcolor);
}

#btnErrorPage{
    margin-top: 2em;
}

.error-content {
    text-align: center;
    padding: 2em;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-title {
    font-size: 6em;
    margin: 0;
    color: var(--bgcolor2);
}

.error-message {
    font-size: 1.5em;
    margin: 1em 0;
}
