*{
    padding: 0;
    margin: 0;
}

:root{
    --bgcolor: #FFF;
    --txtcolor: #985342;
    --linkcolor: #000;
    --visitedcolor: #666;
    --menucolor: #115783;
}

html{
    background-image: url(../../assets/grafiche/sfondo.jpg);
    /*background-image: url(../../assets/grafiche/sfondo-nero.jpg);*/
    background-color: var(--bgcolor);
    background-size: cover;
}

body{
    font-size: 100%;
    font-family: 'Lexend', Roboto, sans-serif;
    line-height: 1.5em;
    margin: auto;
}

/*
------------------
SEZIONE HEADER
------------------
*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bgcolor);
    position: fixed;
    height: 9%;
    width: 100%;
    z-index: 10;
}

header img {
    height: 100%;
    padding: 0 0.5em;
}

#menu li{
    list-style: none;
    display: inline-block;
    margin-right: 1.5em;
}

#droplink {
    background-color: var(--bgcolor);
    padding: 1em;
    border-radius: 0.5em;
}

#dropdown {
    position: relative;
    display: inline-block;
}

#dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--bgcolor);
    width: 7em;
    height: 6em;
}

#dropdown-content a {
    color: blue;
    padding: 0.8em 1em;
    text-decoration: none;
    display: block;
}

#dropdown-content a:hover {color: green;}

#dropdown:hover #dropdown-content {display: block;}

#dropdown:hover #droplink {background-color: #3e8e41;}

/*
------------------
SEZIONE BREADCRUMB
------------------
*/
#breadcrumb {
    position: absolute; /* absolute: rimane fisso -- fixed: si muove con lo scroll */
    top: 9%; /* Posizionato esattamente sotto l'header */
    width: 100%; /* Stesso allineamento dell'header */
    background-color: var(--visitedcolor);
    /*text-align: center; Testo centrato */
    /*height: 2em; /* Imposta un'altezza fissa */
    line-height: 1em; /* Allinea verticalmente il testo */
    padding: 1.2em;
    border-bottom: 1px solid green; /* piccolo bordo, miglioramento visivo */
    z-index: 9; /* Assicurati che rimanga sopra altri elementi */
}

#breadcrumb p {
    color: pink;
}

/*
------------------
SEZIONE MAIN
------------------
*/
/* Stile per la sezione filosofia */
#filosofia {
    padding: 20px;
    background-color: #d5d0d0;
    margin-left: 5%;
    margin-right: 5%;
}

/* Contenitore di riga */
.row {
    display: flex;
    justify-content: center; /* centra le immagini nello spazio riservato a 'filosofia' */
}

/* Stile per ogni colonna */
.column {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* Stile per le immagini */
.column img {
    max-width: 100%; 
    height: auto; 
    object-fit: cover; /* utile a mantenere le proporzioni delle imgs */
    border-radius: 5px; /* effetto rotondo */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* aggiunta lieve ombra sotto l'immagine */
}

/* Aggiunta di un contenitore specifico per un layout più ordinato */
#filosofia .row .column img {
    width: 230px; /* Puoi regolare la larghezza delle immagini */
    height: auto; /* Mantiene le proporzioni */
    margin-bottom: 1.5em;
}

#filosofia h2{
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 1em;
}
/*
------------------
SEZIONE CONTENUTO
------------------
*/
#intro {
    background-image: url('../../assets/pizze/margherita.jpeg');
    background-size: cover;
    background-attachment: scroll; /* Non fisso, si muove con lo scroll */
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--txtcolor);
    text-align: center;
    font-size: 1.5em;
    height: 100vh;
}

